
                    <button id="buttonSubmit" class="button__narrowScreen
                        <% if (addOrChangeProperty === "change") { %>
                            -marginBottomFour
                        <% } %>
                    ">
                        <% if (addOrChangeProperty === "change") { %>
                            Save Change
                        <% } else if (addOrChangeProperty === "add") { %>
                            Add
                        <% } %>
                    </button>