                <p id="copyright" class="
                    <% if (size === 'narrow') { %>
                        footer__copyrightNarrow
                    <% } else if (size === 'standard') { %>
                        footer__copyright
                    <% } %>
                    ">© Foreclosure Cleanup.org - All Rights Reserved</p>