    <header class="dashboard__header">

        <div class="-standardWidthVanish dashboard__headerInternal">
            
            <div class="dashboard__headerLeft -topBottomPaddingSmall -rightLeftMarginMedium">
                <div class="dashboard__logo -centerObject"><a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo"></a></div>
            </div>
            
            <div class="dashboard__right">
                <p class="rowOne__rightText"><a href="my-account" id="targetLogInOutText">My Account</a></p>
                <div class="rowOne__vendorIcon"><a href="my-account"><img src="images/vendor-icon-white.svg" alt="vendor log out" id="targetVendorIcon"></a></div>
                <div class="rowOne__rightBreak"></div>
                <p class="rowOne__rightText"><a href="logout">Log Out</a></p>
            </div>

        </div>

    </header>