                <div class="headerGrey -topBottomPadding -bottomMarginMedium">
                        <div class="headerGrey__logo -centerObject"><a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo"></a></div>
                </div> 