    <header>
        <div class="header__rowOne">
            <%- include('row-one-internal.ejs') %>
        </div>
        <div class="header__rowTwo">
            <div class="header__rowTwo__branding">
                <div class="header__rowTwo__logoContainer">
                    <a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo" class="header__rowTwo__logo"></a>
                </div>
                <h2 class="header__rowTwo__companyName"><a href="/">Foreclosure Cleanup<span class="font125 -bold">.org</span></a></h2>
            </div>
        </div>
        <%- include('top-navigation.ejs') %>     
    </header>