        <div class="-rightLeftPadding -topBottomPadding">
            <div class="top__branding -sixtyOneWidth">
                <div class="rowTwo__logo"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo"></div>
                <h2 class="rowTwo__text">Foreclosure Cleanup<span class="smallText">.org</span></h2>
            </div>
        </div>