            <div class="myAccount__flexUnit -paddingZero">
                <a href="upgrade-premium" class="myAccount__flexUnitCoveredLink">
                    <p class="myAccount__subHeadline"><%= headline %>:</p>
                    <p class="myAccount__bodyTextSmall -marginBottomZero"><%= upgradeRequired %></p>
                </a>
            </div>