    <header class="myAccount__header">

        <div class="myAccount__headerInternal">
            
            <div class="myAccount__headerLeft">
                <div><a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo"  class="myAccount__logo"></a></div>
            </div>
            
            <div class="myAccount__right">
                <%- include('row-one-right.ejs') %>
            </div>

        </div>

    </header>