    <main class="mainContainer__narrow">

        <div class="internalContainer__narrowVanish">

            <div class="heading__containerDark">
                <div class="internalContainer__paddingTwo32">
                    <a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo" class="header__narrowScreenTopLogo"></a>
                </div>
            </div>

            <div class="centered__slim">