                <p class="font1 -centerAlign -marginBottomTwo"><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms Of Service</a></p>

                <%- include('copyright.ejs', { size: 'narrow' }) %>
            
            </div>

        </div>

    </main>