<main class="-topBottomMarginLargeVanish -rightLeftPaddingMediumVanish">

        <div class="-narrowWidthVanish -thinLineShadowBorder">

                <div class="headerGrey -topBottomPaddingMedium -bottomMarginMedium">
                        <div class="headerGrey__logo -centerObject"><a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo"></a></div>
                </div> 

                <div class="-narrowWidth -rightLeftPaddingMediumStatic">