        <nav class="topNavigation">
            <div class="topNavigation__internal --standardWidth">

                <% if (activeLink === 'home') { %> 
                    <p class="topNavigation__activeUnit">
                <% } else { %>
                    <p class="topNavigation__unit">
                <% } %>
                    <a href="/">HOME</a></p>

                <% if (activeLink === 'vendorList') { %> 
                    <p class="topNavigation__activeUnit">
                <% } else { %>
                    <p class="topNavigation__unit">
                <% } %>
                    <a href="/foreclosure_cleanup_vendor_list">VENDOR LIST</a></p>

                <% if (loggedIn === true) { %> 
                    <p class="topNavigation__unit"><a href="/dashboard">DASHBOARD</a></p>
                <% } else { %>
                    <% if (activeLink === 'register') { %> 
                    <p class="topNavigation__activeUnit">
                    <% } else { %>
                    <p class="topNavigation__unit">
                    <% } %>
                    <a href="/register">REGISTER</a></p>
                <% } %>

            </div>
        </nav>