                <div class="rowOne__right">
                    <p class="rowOne__rightText"><a href="login">Vendor log in</a></p>
                    <div class="rowOne__rightIcon"><a href="login"><img src="images/vendor_log_in.png" alt="vendor log in"></a></div>
                </div>