            <div class="mainBlock__header -topBottomPadding -rightLeftPadding">
                <div class="mainBlock__headerLogo"><a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo"></a></div>
                <p class="mainBlock__headerTitle"><a href="/">Foreclosure Cleanup</a><span class="smallText">.org</span></p>
            </div>