    <footer class="-rightLeftPaddingMediumStatic">
        
        <div class="-standardWidth">
            <div class="footer__container -topBottomPaddingLarge">

                <div>
                <% if (activeLink === 'index') { %> 
                    <p class="footerNavigation__activeUnit">
                <% } else { %>
                    <p class="footerNavigation__unit">
                <% } %>
                    <a href="/">HOME</a></p>

                <% if (activeLink === 'foreclosure-cleanup-vendor-list') { %> 
                    <p class="footerNavigation__activeUnit">
                <% } else { %>
                    <p class="footerNavigation__unit">
                <% } %>
                    <a href="/foreclosure-cleanup-vendor-list">VENDOR LIST</a></p>

                <% if (loggedIn != true) { %> 
                    <% if (activeLink === 'register') { %> 
                    <p class="footerNavigation__activeUnit">
                    <% } else { %>
                    <p class="footerNavigation__unit">
                    <% } %>
                    <a href="/register">REGISTER</a></p>
                <% } %>

                <% if (activeLink === 'contact') { %> 
                    <p class="footerNavigation__activeUnit">
                <% } else { %>
                    <p class="footerNavigation__unit">
                <% } %>
                    <a href="mailto:<%- contactEmail %>">CONTACT</a></p>

                </div>

                <div>
                    <div class="-bottomMarginMedium"><a href="/"><img class="footer__logo" src="images/foreclosure-cleanup-logo-bw.svg" alt="Foreclosure Cleanup logo"></a></div>
                    <div><img class="footer__logo" src="images/pro-journal-logo-bw.svg" alt="Pro Journal logo"></div>
                </div>
            </div>

            <div class="footer__privacyTermsContainer -bottomMarginLarge">

                <a href="/privacy-policy" class="
                    <% if (activeLink === 'privacy-policy') { %>
                        footer__privacyTerms__active
                    <% } else { %>
                        footer__privacyTerms
                    <% } %>
                        ">Privacy Policy</a>
                    
                    |

                <a href="/terms-of-service" class="
                    <% if (activeLink === 'terms-of-service') { %>
                            footer__privacyTerms__active
                    <% } else { %>
                            footer__privacyTerms
                    <% } %>
                        ">Terms Of Service</a>

            </div>
            <p id="copyright">© Pro Journal, LLC - All Rights Reserved</p>
        </div>
        
    </footer>