:root {
	--black: rgb(0, 0, 0);
	--blue: rgb(6, 133, 174);
	--brightBlue: rgb(0, 128, 255);
	--darkBlue: rgb(19, 75, 122);
	--errorBackground: rgb(73, 59, 59);
	--gold: rgb(255, 208, 106);
	--green: rgb(0, 255, 0);
	--green200: rgb(0, 200, 0);
	--green150: rgb(0, 150, 50);
	--grey16: rgb(16, 16, 16);
	--grey32: rgb(32, 32, 32);
	--grey48: rgb(48, 48, 48);
	--grey64: rgb(64, 64, 64);
	--grey92: rgb(92, 92, 92);
	--grey128: rgb(128, 128, 128);
	--grey192: rgb(192, 192, 192);
	--grey224: rgb(224, 224, 224);
	--grey236: rgb(236, 236, 236);
	--grey248: rgb(248, 248, 248);
	--grey252: rgb(252, 252, 252);
	--lightYellow: rgb(255, 248, 229);
	--lightBlue: rgb(150, 190, 225);
	--mediumBlue: rgb(128, 192, 255);
	--orange128: rgb(255, 128, 0);
	--red: rgb(192, 0, 0);
	--ultraLightBlue: rgb(230, 240, 250);
	--ultraLightRed: rgb(249, 229, 229);
	--white: rgb(255, 255, 255);

	--font25: 2.5rem;
	--font2: 2rem;
	--font15: 1.5rem;
	--font125: 1.25rem;
	--font1125: 1.125rem;
	--font1: 1rem;
	--font75: 0.75rem;

	--slimWidth: 26rem;
	--narrowWidth: 34rem;
	--standardWidth: 61rem;
	--standardButtonWidth: 40rem;

	--six: 6rem;
	--four: 4rem;
	--two: 2rem;
	--one: 1rem;
	--half: 0.5rem;
	--zero: 0;

	--twoVanish: 2rem;
	--fourVanish: 4rem;

	--px64: 64px;
	--px32: 32px;
	--px32--imageUpload: 24px;
	--px24: 24px;
	--px16: 16px;
	--px8: 8px;

	--px32Vanish: 32px;
	--px64Vanish: 64px;

	--logo6: 6rem;
	--logo5: 5rem;
	--logo4: 4rem;
	--logo3: 3rem;
}

/* Error Pages */

.error__container {
	padding: var(--one);
	border-bottom: 0.0625rem solid var(--grey32);
}

.error__icon {
	width: var(--four);
	height: var(--four);
}

/* Foreclosure Cleanup Vendor List */

#bottomSearchAgain {
	display: none;
}

/* Header & Footer */

.header__rowOne,
.header__rowOneBlack {
	padding-right: var(--px32);
	padding-left: var(--px32);
	font-size: var(--font1);
	color: var(--white);
	border-top-width: 0.25rem;
	border-top-style: solid;
	border-top-color: var(--grey48);
}

.header__rowOne {
	background-image: url(../images/bg-dark-wave.png);
	border-bottom-width: 0.25rem;
	border-bottom-style: solid;
	border-bottom-color: var(--grey48);
}

.header__rowOneBlack {
	background-color: var(--grey32);
}

.header__rowOne__internal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	margin-right: auto;
	margin-left: auto;
	padding-top: var(--half);
	padding-bottom: var(--half);
	width: var(--standardWidth);
	max-width: 100%;
}

.header__rowOne__left {
	margin: 0 32px 0 0;
	font-size: var(--font125);
	font-weight: 300;
}

.header__rowOne__right {
	display: flex;
	align-items: center;
}

.header__rowOne__right__text {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: var(--font1);
	color: var(--white);
	white-space: nowrap;
}

.header__rowOne__right__text:link,
.header__rowOne__right__text:visited {
	text-decoration: none;
	color: var(--white);
}

.header__rowOne__right__text:hover {
	text-decoration: underline;
	color: var(--gold);
}

.header__rowOne__right__text:active {
	text-decoration: underline;
	color: var(--red);
}

.header__rowOne__right__breakLine {
	margin-right: var(--one);
	margin-left: var(--one);
	height: 2rem;
	border-right: 0.0625rem solid var(--white);
}

.header__rowOne__right__vendorIconContainer {
	flex-shrink: 0;
	margin-left: 0.5rem;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}

.header__rowOne__right__vendorIcon {
	width: 1.25rem;
	height: 1.25rem;
}

.header__rowTwo {
	padding: var(--two) var(--px32);
}

.header__rowTwo__branding {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	width: var(--standardWidth);
	max-width: 100%;
}

.header__rowTwo__logoContainer {
	flex-shrink: 0;
	margin: 0 1rem 0 0;
}

.header__rowTwo__logo {
	width: var(--logo6);
	height: var(--logo6);
}

.header__rowTwo__companyName {
	margin: 0;
	padding: 0;
	font-size: var(--font25);
	font-weight: 600;
}

.header__rowTwo__companyName a:link,
.header__rowTwo__companyName a:visited,
.header__rowTwo__companyName a:hover,
.header__rowTwo__companyName a:active {
	color: var(--grey64);
	text-decoration: none;
}

.header__nav {
	padding-top: var(--one);
	padding-bottom: var(--one);
	border-top-width: 0.25rem;
	border-top-style: solid;
	border-top-color: var(--grey48);
	border-bottom-width: 0.25rem;
	border-bottom-style: solid;
	border-bottom-color: var(--grey48);
	background-image: url(../images/bg-dark-wave.png);
}

.header__nav__internal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
	width: var(--standardWidth);
	max-width: 100%;
}

.header__nav__unit,
.header__nav__activeUnit {
	margin: 0 var(--one);
	padding: 0;
	font-size: var(--font15);
}

.header__narrowScreenTopLogo {
	width: var(--logo5);
	height: var(--logo5);
}

.footer__container {
	padding-top: 0;
	margin-top: 0;
	padding-right: var(--px32);
	padding-left: var(--px32);
	border-top-width: 0.5rem;
	border-top-style: solid;
	border-top-color: var(--grey48);
	background-image: url(../images/bg-dark-wave.png);
}

.footer__internal {
	margin-right: auto;
	margin-left: auto;
	padding-top: var(--four);
	padding-bottom: var(--px16);
	width: var(--standardWidth);
	max-width: 100%;
}

.footer__columns {
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--four);
}

.footer__logo {
	margin-bottom: var(--two);
	width: var(--logo5);
	height: var(--logo5);
}

.footer__logoProJournal {
	width: var(--logo5);
	height: 1.875rem;
}

.footer__logoContainer {
	display: flex;
	flex-direction: column;
}

.footer__nav {
	display: flex;
	flex-direction: column;
}

.footer__nav__unit,
.footer__nav__activeUnit {
	margin: 0 0 0.5rem;
	padding: 0;
}

.footer__privacyTerms {
	margin-bottom: var(--four);
}

.footer__privacyTerms__unit,
.footer__privacyTerms__activeUnit {
	font-size: var(--fontOne);
	white-space: nowrap;
}

.footer__copyright,
.footer__copyrightNarrow {
	margin: 0;
	padding: 0;
	text-align: right;
	color: var(--grey128);
	font-size: var(--font75);
}

.footer__copyright {
	text-align: right;
}

.footer__copyrightNarrow {
	text-align: center;
}

.header__nav__unit:link,
.header__nav__unit:visited {
	color: var(--white);
	text-decoration: none;
}

.header__nav__activeUnit:link,
.header__nav__activeUnit:visited,
.footer__nav__activeUnit:link,
.footer__nav__activeUnit:visited {
	color: var(--gold);
	text-decoration: none;
}

.footer__nav__unit:link,
.footer__nav__unit:visited {
	color: var(--grey192);
	text-decoration: none;
}

.footer__privacyTerms__unit:link,
.footer__privacyTerms__unit:visited {
	color: var(--grey192);
	text-decoration: underline;
}

.footer__privacyTerms__activeUnit:link,
.footer__privacyTerms__activeUnit:visited {
	color: var(--gold);
	text-decoration: underline;
}

.header__nav__unit:hover,
.header__nav__activeUnit:hover,
.footer__nav__unit:hover,
.footer__nav__activeUnit:hover,
.footer__privacyTerms__unit:hover,
.footer__privacyTerms__activeUnit:hover {
	color: var(--gold);
	text-decoration: underline;
}

.header__nav__unit:active,
.header__nav__activeUnit:active,
.footer__nav__unit:active,
.footer__nav__activeUnit:active,
.footer__privacyTerms__unit:active,
.footer__privacyTerms__activeUnit:active {
	color: var(--red);
	text-decoration: underline;
}

/* Home Page */

.panel__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	width: var(--standardWidth);
	max-width: 100%;
}

.panel__unit {
	margin: var(--two) var(--px32);
	width: 25rem;
	max-width: 100%;
	border-width: 0.0625rem;
	border-style: solid;
	border-color: var(--grey192);
}

.panel__headline {
	margin: 0;
	padding: var(--one) var(--px16);
	text-align: center;
	font-size: var(--font15);
	color: var(--white);
	background-color: var(--darkBlue);
}

.panel__headline a:link {
	color: var(--white);
	text-decoration: none;
}

.panel__headline a:visited {
	color: var(--white);
	text-decoration: none;
}

.panel__headline a:hover {
	color: var(--gold);
	text-decoration: underline;
}

.panel__headline a:active {
	color: var(--red);
	text-decoration: underline;
}

.panel__image {
	max-width: 100%;
	height: 15rem;
}

.-panel__registerBackground {
	background-image: url(../images/bg-register.jpg);
	background-size: cover;
}

.-panel__searchBackground {
	background-image: url(../images/bg-search.jpg);
	background-size: cover;
}

.panel__text {
	margin: 0;
	padding: var(--one) 16px;
	background-color: var(--white);
	font-size: var(--font125);
	border-top-width: 0.0625rem;
	border-top-style: solid;
	border-top-color: var(--grey192);
}

.panel__text a:link {
	color: var(--grey64);
	text-decoration: none;
}

.panel__text a:visited {
	color: var(--grey64);
	text-decoration: none;
}

.panel__text a:hover {
	color: var(--blue);
	text-decoration: underline;
}

.panel__text a:active {
	color: var(--red);
	text-decoration: underline;
}

/* Legal Pages */

.legal__container {
	margin-right: auto;
	margin-left: auto;
	width: var(--standardWidth);
	max-width: 100%;
}

/* My Account */

.myAccount__header {
	background-color: var(--grey224);
	border-bottom: 0.0625rem solid var(--grey192);
}

.myAccount__headerInternal {
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	width: var(--standardWidth);
	max-width: 100%;
}

.myAccount__headerLeft {
	display: flex;
	align-items: center;
	margin-right: var(--px32);
	margin-left: var(--px32);
	padding-top: var(--one);
	padding-bottom: var(--one);
}

.myAccount__logo {
	width: var(--logo4);
	height: var(--logo4);
}

.myAccount__right {
	display: flex;
	align-items: center;
	margin-left: var(--px32);
	padding-left: var(--px16);
	padding-right: var(--px16);
	background-color: var(--grey64);
}

.myAccount__defaultUnit,
.myAccount__flexUnit {
	padding: var(--two) var(--px32);
	border-bottom: 0.0625rem solid var(--grey224);
}

.myAccount__flexUnit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.myAccount__deleteAccountUnit {
	padding: var(--four) var(--px32);
	text-align: right;
}

.myAccount__subHeadline,
.myAccount__subHeadlineUpgrade,
.myAccount__bodyTextLarge,
.myAccount__bodyTextLargeFlex,
.myAccount__bodyTextSmallFlex,
.myAccount__bodyTextLargeFlexUpgrade,
.myAccount__bodyTextSmall {
	margin-top: 0;
	padding: 0;
}

.myAccount__vendorLogo {
	margin: var(--one) 0 0 0;
}

.myAccount__subHeadline,
.myAccount__subHeadlineUpgrade,
.myAccount__bodyTextSmall {
	margin-bottom: var(--half);
}

.myAccount__bodyTextLarge {
	margin-bottom: var(--two);
}

.myAccount__bodyTextLargeFlex,
.myAccount__bodyTextSmallFlex,
.myAccount__bodyTextLargeFlexUpgrade {
	margin-bottom: 0;
}

.myAccount__subHeadline,
.myAccount__subHeadlineUpgrade {
	font-size: var(--font125);
	font-weight: 600;
}

.myAccount__subHeadlineUpgrade,
.myAccount__bodyTextLargeFlexUpgrade {
	color: var(--blue);
}

.myAccount__bodyTextLarge,
.myAccount__bodyTextLargeFlex,
.myAccount__bodyTextSmallFlex,
.myAccount__bodyTextLargeFlexUpgrade {
	font-size: var(--font15);
}

.myAccount__bodyTextSmall,
.myAccount__bodyTextSmallFlex {
	font-size: var(--font1);
}

.myAccount__flexUnitCoveredLink {
	display: block;
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
	color: var(--blue);
	background-color: var(--white);
	border: none;
	margin: 0;
	padding: var(--two) var(--px32);
	width: 100%;
}

.myAccount__flexUnitCoveredLink:link,
.myAccount__flexUnitCoveredLink:visited,
.myAccount__flexUnitCoveredLink:hover,
.myAccount__flexUnitCoveredLink:active {
	text-decoration: none;
	color: var(--blue);
}

.myAccount__error {
	margin: var(--one) 0 0;
	padding: 0;
	color: var(--red);
}

.myAccount__errorBorder {
	border: 3px solid var(--red);
}

.myAccount__cancelBar,
.myAccount__noChangeBar,
.myAccount__successBar {
	/* Display is set to flex with JS in my-account.ejs by enable-success-cancel-bar.js */
	/* display: flex; */
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: var(--px16) var(--px32);
	color: var(--white);
	border-bottom: 0.0625rem solid var(--grey192);
}

.myAccount__cancelBar {
	background-color: var(--orange128);
}

.myAccount__noChangeBar {
	background-color: var(--brightBlue);
}

.myAccount__successBar {
	background-color: var(--green200);
}

.myAccount__cancelBar a:link {
	color: var(--white);
	text-decoration: underline;
}

.myAccount__cancelBar a:visited {
	color: var(--white);
	text-decoration: underline;
}

.myAccount__cancelBar a:hover {
	color: var(--black);
	text-decoration: underline;
}

.myAccount__cancelBar a:active {
	color: var(--black);
	text-decoration: underline;
}

.myAccount__xClose {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	margin-right: var(--px32);
	margin-left: var(--px32);
}

.myAccount__barInternal {
	width: var(--standardWidth);
	max-width: 100%;
}

.myAccount__addressNormalizationBox {
	margin-bottom: var(--two);
	padding: var(--two) var(--px32);
	background-color: var(--grey248);
	border: 0.0625rem solid var(--grey224);
}

.input__unit {
	display: flex;
	flex-direction: column;
}

.input__field,
.input__passwordField {
	padding: 8px;
	font-size: var(--font15);
}

.input__field {
	border: 1px solid var(--grey192);
}

.checkBox__largeContainer {
	margin: var(--one) var(--px32) var(--four);
	padding: var(--one) var(--px32);
	border: 3px solid var(--white);
}

.input__passwordField {
	flex-grow: 1;
	border: none;
}

.input__label,
.heading__small {
	margin-bottom: 0.5rem;
	font-size: var(--font125);
	font-weight: 600;
}

.heading__small {
	margin-top: 0;
	padding: 0;
}

.input__error {
	padding: 0.5rem 8px 0;
	color: var(--red);
}

.checkBox__unit {
	border: 3px solid var(--white);
}

.password__container {
	display: flex;
	align-items: center;
	border-width: 1px;
	border-style: solid;
	border-color: var(--grey192);
}

.password__toggle {
	display: none;
	margin: 0 8px;
}

#newPasswordEye,
#changedPasswordEye,
#confirmationPasswordEye,
#currentPasswordEye {
	cursor: pointer;
	width: 30px;
}

#passwordStrength {
	display: none;
	margin: 8px 0 0 0;
}

#passwordLevel {
	display: none;
	font-weight: 600;
}

#passwordMeterContainer {
	display: none;
}

#passwordMeterLabel,
#passwordMatchLabel {
	margin-right: 4px;
	font-weight: 600;
}

#passwordMeterLabel {
	display: inline-block;
}

#passwordMatchLabel {
	display: none;
	height: 8px;
	margin-bottom: 10px;
}

.passwordMeterBox {
	display: inline-block;
	margin-right: 4px;
	width: 32px;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--grey224);
}

.imageUpload__container {
	padding: 4px;
	border-width: 3px;
	border-style: solid;
}

.imageUpload__interiorContainer {
	display: none;
	height: 18rem;
}

.imageUpload__leftColumnInterior,
.imageUpload__rightColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--one) var(--px16);
}

.imageUpload__leftColumnInterior {
	position: relative;
	flex-grow: 1;
	border-width: 0.0625rem;
	border-style: dashed;
	border-color: var(--blue);
}

.imageUpload__leftColumnExterior {
	display: flex;
	flex-grow: 1;
	padding: 4px;
	border: 0.0625rem solid var(--blue);
}

.imageUpload__rightColumn {
	width: 12.5rem;
	background-color: var(--grey252);
	border-top: 0.0625rem solid var(--grey224);
	border-right: 0.0625rem solid var(--grey224);
	border-bottom: 0.0625rem solid var(--grey224);
}

.imageUpload__iconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	margin-bottom: 1rem;
}

.imageUpload__icon {
	width: 6.25rem;
	height: 4.5rem;
}

.imageUpload__imageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 12.5rem;
	height: 12.5rem;
}

.imageUpload__topContainer {
	height: 12.5rem;
}

.imageUpload__input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

.imageUpload__selectButton,
.imageUpload__undoButtonContainer {
	text-align: center;
	padding: 0.25rem;
	cursor: pointer;
	font-size: var(--font125);
}

.imageUpload__selectButton {
	display: block;
	color: var(--blue);
	border: 0.0625rem solid var(--blue);
	background-color: var(--ultraLightBlue);
}

.imageUpload__selectLabel {
	display: block;
	margin-bottom: var(--one);
	cursor: pointer;
	font-size: var(--font15);
}

.imageUpload__noScriptButton {
	cursor: pointer;
	font: var(--font15);
}

.imageUpload__undoButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	border: 0.0625rem solid var(--red);
	background-color: var(--ultraLightRed);
}

.imageUpload__undo {
	margin: 0 8px 0 0;
	padding: 0;
	color: var(--red);
}

.imageUpload__undoX {
	margin: 0;
	padding: 0;
	width: 0.9375rem;
	height: 0.9375rem;
}

#uploadInstructions {
	display: none;
}

/* Shared elements */

body,
.body__error {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	color: var(--grey64);
}

body {
	background-color: var(--white);
}

.body__error {
	background-color: var(--grey224);
}

img {
	vertical-align: top;
}

button:hover {
	cursor: pointer;
}

/* Change autocomplete styles in Chrome.  Only use of !important on sheet.*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
	box-shadow: 0 0 0 10rem var(--white) inset !important;
	font-size: var(--font15) !important;
}

.button__narrowScreen,
.button__fullScreen,
.button__inactive {
	padding-top: var(--half);
	padding-bottom: var(--half);
	max-width: 100%;
	font-size: var(--font2);
	color: var(--gold);
	background-color: var(--grey64);
	border: none;
}

.button__narrowScreen {
	width: 100%;
}

.button__fullScreen,
.button__inactive {
	margin-bottom: var(--four);
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: var(--standardButtonWidth);
}

.button__inactive {
	background-color: var(--grey192);
	text-align: center;
	color: var(--white);
	cursor: default;
}

.button__originalFormat,
.button__uspsFormat {
	padding-top: var(--half);
	padding-bottom: var(--half);
	width: 100%;
	font-size: var(--font15);
	border: none;
}

.button__originalFormat {
	color: var(--gold);
	background-color: var(--grey64);
}

.button__uspsFormat {
	color: var(--white);
	background-color: var(--green150);
}

.button__bodyTextSmall,
.button__bodyTextMedium {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	color: var(--blue);
	text-decoration: underline;
	background-color: var(--white);
	border: none;
}

.button__bodyTextSmall {
	font-size: var(--font1);
}

.button__bodyTextMedium {
	font-size: var(--font125);
}

.button__fauxAdd,
.button__fauxChange,
.button__fauxUpgradeAdd,
.button__fauxUpgradeChange {
	display: inline-block;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.25rem;
	width: 4.5rem;
	text-align: center;
	font-size: var(--font1125);
}

.button__fauxAdd,
.button__fauxChange {
	background-color: var(--grey64);
}

.button__fauxUpgradeAdd,
.button__fauxUpgradeChange {
	background-color: var(--darkBlue);
}

.button__fauxChange,
.button__fauxUpgradeChange {
	color: var(--white);
}

.button__fauxAdd,
.button__fauxUpgradeAdd {
	color: var(--gold);
}

.button__fauxAdd:hover,
.button__fauxChange:hover,
.button__fauxUpgradeAdd:hover,
.button__fauxUpgradeChange:hover,
.button__fauxAdd:active,
.button__fauxChange:active,
.button__fauxUpgradeAdd:active,
.button__fauxUpgradeChange:active {
	background-color: var(--grey32);
	color: var(--gold);
}

.checkRadio__internal {
	margin: var(--two) var(--px16);
}

.checkRadio__label {
	margin-left: 0.5rem;
	font-size: var(--font15);
}

.fiveDots {
	font-size: var(--six);
	color: var(--grey192);
}

.heading__container,
.heading__containerDark,
.heading__containerPremium {
	display: flex;
	justify-content: center;
	text-align: center;
}

.heading__container,
.heading__containerPremium {
	border-top: 0.0625rem solid var(--grey224);
	border-bottom: 0.0625rem solid var(--grey224);
}

.heading__container {
	background-color: var(--grey248);
}

.heading__containerDark {
	background-color: var(--grey224);
	border-bottom: 0.0625rem solid var(--grey192);
}

.heading__containerPremium {
	background-color: var(--darkBlue);
}

.heading__headline,
.heading__headlinePremium {
	flex: 1;
	margin: 0;
	padding: var(--two) var(--px32);
	font-size: var(--font2);
	font-weight: 600;
}

.heading__headlinePremium {
	color: var(--white);
}

.heading__narrowLogo {
	padding: var(--two) var(--px32);
}

.highlightEffect {
	background-color: rgb(204, 222, 255);
}

.input__borderContainer,
.input__borderContainerSingleCheck {
	padding: 4px;
	border-width: 3px;
	border-style: solid;
}

.input__borderContainerSingleCheck {
	display: flex;
	align-items: center;
}

.input__SingleCheck {
	flex-shrink: 0;
	margin: 0 var(--one) 0 0;
	padding: 0;
	width: 1.5rem;
	height: 1.5rem;
}

.internalContainer__standard,
.internalContainer__narrow,
.internalContainer__narrowVanish {
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	background-color: var(--white);
	border-width: 0.0625rem;
	border-style: solid;
	border-color: var(--grey192);
	box-shadow: 0 0 var(--half) var(--grey192);
}

.internalContainer__standard {
	width: var(--standardWidth);
	max-width: 100%;
}

.internalContainer__narrow,
.internalContainer__narrowVanish {
	width: var(--narrowWidth);
}

.internalContainer__paddingTwo32 {
	padding: var(--two) var(--px32);
}

.internalContainer__paddingTwo32Four {
	padding: var(--two) var(--px32) var(--four);
}

.mainContainer__legal,
.mainContainer__standard,
.mainContainer__narrow {
	padding: var(--four) var(--px32);
}

.-premium__highlight,
.-standard__highlight {
	padding-right: var(--px16);
	padding-left: var(--px16);
}

.centered__slim,
.centered__narrow,
.centered__standard {
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}

.centered__slim {
	padding-top: var(--two);
	padding-bottom: var(--two);
	width: 100%;
}

.centered__slim,
.centered__narrow,
.centered__standard {
	padding-right: var(--px64);
	padding-left: var(--px64);
}

.centered__narrow {
	width: var(--narrowWidth);
}

.headlineLarge {
	margin: 0 0 var(--two) 0;
	padding: 0;
	text-align: center;
	font-size: var(--font25);
	font-weight: 600;
}

.headlineLarge a:link,
.headlineLarge a:visited,
.headlineLarge a:hover {
	text-decoration: underline;
}

.headlineLarge a:active {
	color: var(--red);
}

.font25,
.font2,
.font15,
.font125,
.font1,
.font75 {
	margin: 0;
	padding: 0;
}

.font25 {
	font-size: var(--font25);
}

.font2 {
	font-size: var(--font2);
}

.font15 {
	font-size: var(--font15);
}

.font125 {
	font-size: var(--font125);
}

.font1 {
	font-size: var(--font1);
}

.font75 {
	font-size: var(--font75);
}

.font25 a:link,
.font15 a:link,
.font125 a:link,
.font1 a:link,
.font75 a:link,
.font25 a:visited,
.font15 a:visited,
.font125 a:visited,
.font1 a:visited,
.font75 a:visited,
.font25 a:hover,
.font15 a:hover,
.font125 a:hover,
.font1 a:hover,
.font75 a:hover,
.myAccount__bodyTextSmall a:link,
.myAccount__bodyTextSmall a:visited,
.myAccount__bodyTextSmall a:hover,
.myAccount__deleteAccountUnit a:link,
.myAccount__deleteAccountUnit a:visited,
.myAccount__deleteAccountUnit a:hover,
li a:link,
li a:visited,
li a:hover {
	color: var(--blue);
	text-decoration: underline;
}

.font25 a:active,
.font15 a:active,
.font125 a:active,
.font1 a:active,
.font75 a:active,
.font25 a:active,
.font15 a:active,
.font125 a:active,
.font1 a:active,
.font75 a:active,
.myAccount__bodyTextSmall a:active,
.myAccount__deleteAccountUnit a:active,
li a:active {
	color: var(--blue);
	text-decoration: underline;
}

.unorderedList {
	margin: 0;
	padding-left: 40px;
}

.unorderedList li {
	margin-bottom: var(--one);
}

.unorderedListSmall {
	margin: 0;
	padding-left: 20px;
	font: var(--font1);
}

.unorderedListSmall li {
	margin-bottom: var(--half);
}

/* Single page site */

.singlePage__verticalCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.singlePage__icon {
	width: 12rem;
	height: 12rem;
}

/* Vendor List Search Page */

.vendorList__searchUnit {
	text-align: left;
	border: 0.0625rem solid var(--grey192);
}

.vendorList__searchLabel,
.vendorList__searchLabelError {
	margin-top: 0;
	margin-bottom: 0;
	padding: var(--half) var(--px8);
	font-size: var(--font15);
	color: var(--gold);
}

.vendorList__searchLabel {
	background-color: var(--grey64);
}

.vendorList__searchLabelError {
	background-color: var(--errorBackground);
}

.vendorList__inputText {
	border: none;
	outline: none;
	font-size: var(--font15);
}

.vendorList__error {
	margin-top: 0;
	margin-bottom: var(--four);
	padding: 0.5rem 8px 0;
	color: var(--red);
}

.vendorList__buttonWithLinkAppearance {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	padding: 0 var(--px32);
	height: 100%;
	background-color: var(--white);
	text-decoration: none;
	border-top: none;
	border-right: 0.0625rem solid var(--grey224);
	border-bottom: none;
	border-left: none;
}

.vendorList__searchAgainIcon {
	width: 2rem;
	height: 1.8rem;
}

.vendorList__searchAgainText {
	margin: 0 0 0 var(--px8);
	padding: 0;
	font-size: 1.25rem;
	font-weight: 300;
}

.vendorList__searchAgainText a:link {
	color: var(--darkBlue);
	text-decoration: none;
}

.vendorList__searchAgainText a:visited {
	color: var(--darkBlue);
	text-decoration: none;
}

.vendorList__searchAgainText a:hover {
	color: var(--darkBlue);
	text-decoration: underline;
}

.vendorList__searchAgainText a:active {
	color: var(--red);
	text-decoration: underline;
}

.vendorList__free,
.vendorList__noneFound,
.vendorList__premium {
	box-sizing: border-box;
	margin-bottom: var(--four);
	max-width: 100%;
	border: 0.0625rem solid var(--grey192);
}

.vendorList__free__headlineContainer,
.vendorList__noneFound__headlineContainer,
.vendorList__premium__headlineContainer {
	margin: 0;
	padding: var(--one) var(--px32);
	border-bottom: 0.0625rem solid var(--grey192);
}

.vendorList__free__headlineContainer,
.-standard__highlight {
	background-color: var(--lightBlue);
}

.vendorList__noneFound__headlineContainer {
	background-color: var(--ultraLightBlue);
}

.vendorList__premium__headlineContainer,
.-premium__highlight {
	background-color: var(--gold);
}

.vendorList__searchResult__headline {
	margin: 0;
	padding: 0;
	font-size: var(--font2);
	font-weight: 600;
}

.vendorList__searchResult__headline a:link,
.vendorList__searchResult__headline a:visited {
	text-decoration: none;
	color: var(--grey64);
}

.vendorList__searchResult__headline a:hover {
	text-decoration: underline;
	color: var(--grey64);
}

.vendorList__searchResult__headline a:active {
	text-decoration: underline;
	color: var(--red);
}

.vendorList__premium__logoContactServicesContainer,
.vendorList__premium__logoContactServicesContainerNoCompanyDescription {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.vendorList__premium__logoContactServicesContainer {
	border-bottom: 0.0625rem solid var(--grey236);
}

.vendorList__noneFound__text {
	margin: 0;
	padding: var(--one) var(--px32);
	font-size: var(--font125);
}

.vendorList__premium__contactContainer,
.vendorList__premium__logoContainer,
.vendorList__premium__servicesContainer,
.vendorList__searchResult__container {
	padding: var(--one) var(--px16) var(--half) var(--px16);
}

.vendorList__searchResult__heading {
	margin: 0 0 var(--half) 0;
	padding: 0;
	font-size: var(--font125);
	font-weight: 600;
}

.-vendorList__topBorder {
	border-top: 0.0625rem solid var(--grey236);
}

.-vendorList__rightBorder {
	border-right: 0.0625rem solid var(--grey236);
}

.-vendorList__bottomBorder {
	border-bottom: 0.0625rem solid var(--grey236);
}

.vendorList__searchResult__bodyText,
.vendorList__searchResult__bodyTextTelephone {
	margin: 0;
	padding: 0 0 var(--half) 0;
	font-weight: 300;
	font-size: var(--font15);
}

.vendorList__searchResult__bodyTextTelephone a:link,
.vendorList__searchResult__bodyTextTelephone a:visited {
	text-decoration: none;
	color: var(--grey64);
}

.vendorList__searchResult__bodyText a:link,
.vendorList__searchResult__bodyText a:visited,
.vendorList__searchResult__bodyText a:hover,
.vendorList__searchResult__bodyTextTelephone a:hover {
	text-decoration: underline;
	color: var(--grey64);
}

.vendorList__searchResult__bodyText a:active,
.vendorList__searchResult__bodyTextTelephone a:active {
	text-decoration: underline;
	color: var(--red);
}

.vendorList__premium__logoContainer {
	display: flex;
	flex-direction: column;
	flex-grow: auto;
	padding-bottom: var(--one);
	border-right: 0.0625rem solid var(--grey236);
}

.vendorList__premium__contactServicesContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
}

.premiumSearchResult__servicesContainer {
	padding: var(--one) var(--px16);
}

.premium__description {
	font-size: var(--font15);
	color: var(--white);
}

.-premium__highlight {
	background-color: var(--gold);
}

.premiumSearchResult__mainContainer,
.freeSearchResult__mainContainer,
.noSearchResult__mainContainer {
	margin-bottom: var(--four);
}

.premiumSearchResult__mainContainer,
.freeSearchResult__mainContainer {
	background-color: var(--grey252);
}

.premiumSearchResult__mainContainer,
.freeSearchResult__mainContainer,
.noSearchResult__mainContainer {
	border: 0.0625rem solid var(--grey192);
}

.noSearchResult__mainContainer {
	padding: var(--one) var(--px16);
}

.premiumSearchResult__nameContainer,
.freeSearchResult__nameContainer {
	padding: var(--px8) var(--one);
}

.premiumSearchResult__nameContainer {
	background-color: var(--gold);
	border-bottom: 0.0625rem solid var(--grey192);
}

.freeSearchResult__nameContainer {
	background-color: var(--lightBlue);
	border-bottom: 0.0625rem solid var(--grey192);
}

.premiumSearchResult__contactContainer {
	padding: var(--one) var(--px16);
}

.searchResult__bottomBorder,
.searchResult__miniTitleText {
	padding: var(--one) var(--px16);
}

.searchResult__bottomBorder,
.searchResult__onlyBorder {
	border-bottom: 0.0625rem solid var(--grey236);
}

.searchResult__miniTitleText {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 1rem;
}

.searchResult__bodyText {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: var(--font125);
}

.searchResult__miniTitleText a:link,
.searchResult__bodyText a:link {
	text-decoration: none;
	color: var(--grey64);
}

.searchResult__miniTitleText a:visited,
.searchResult__bodyText a:visited {
	text-decoration: none;
	color: var(--grey64);
}

.searchResult__miniTitleText a:hover,
.searchResult__bodyText a:hover {
	text-decoration: underline;
	color: var(--grey64);
}

.searchResult__miniTitleText a:active,
.searchResult__bodyText a:active {
	text-decoration: underline;
	color: var(--red);
}

.searchResult__webLink {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: var(--font125);
}

.searchResult__webLink a:link {
	text-decoration: underline;
	color: var(--grey64);
}

.searchResult__webLink a:visited {
	text-decoration: underline;
	color: var(--grey64);
}

.searchResult__webLink a:hover {
	text-decoration: underline;
	color: var(--grey64);
}

.searchResult__webLink a:active {
	text-decoration: underline;
	color: var(--red);
}

@media all and (min-width: 680px) and (max-width: 975px) {
	:root {
		--font25: 2.25rem;
		--font2: 1.75rem;
		--font15: 1.25rem;
		--font125: 1.25rem;
		--font1125: 1.125rem;

		--standardWidth: auto;

		--six: 4.5rem;
		--four: 3rem;
		--two: 1.5rem;
		--zero: 0;

		--twoVanish: 1.5rem;
		--fourVanish: 0;

		--px32: 24px;
		--px24: 18px;
		--px16: 12px;
		--px8: 6px;

		--px64Vanish: 48px;
		--px32Vanish: 0;

		--logo6: 5rem;
		--logo5: 4.5rem;
		--logo4: 3.5rem;
		--logo3: 2.5rem;
	}

	/* Header & Footer */

	.footer__logoProJournal {
		height: 1.688rem;
	}

	.panel__unit {
		width: 18rem;
	}

	.panel__image {
		height: 10.75rem;
	}

	/* shared */

	.centered__narrow,
	.centered__standard {
		padding-right: var(--px32);
		padding-left: var(--px32);
	}
}

@media all and (min-width: 481px) and (max-width: 679px) {
	:root {
		--font25: 2rem;
		--font2: 1.75rem;
		--font15: 1.25rem;
		--font125: 1rem;
		--font1125: 1rem;

		--standardWidth: auto;

		--six: 3.75rem;
		--four: 2.5rem;
		--two: 1.25rem;
		--one: 0.75rem;
		--half: 0.375rem;
		--zero: 0;

		--twoVanish: 0;
		--fourVanish: 0;

		--px32: 16px;
		--px24: 12px;
		--px16: 8px;
		--px8: 6px;

		--px64Vanish: 0;
		--px32Vanish: 0;

		--logo6: 4.5rem;
		--logo5: 4rem;
		--logo4: 3.5rem;
		--logo3: 2.25rem;
	}

	/* Header & Footer */

	.footer__nav {
		margin-bottom: var(--two);
	}

	.footer__columns {
		flex-direction: column;
		justify-content: initial;
		align-items: center;
	}

	.footer__logoProJournal {
		height: 1.5rem;
	}

	.footer__nav__activeUnit,
	.footer__nav__unit,
	.footer__copyright {
		text-align: center;
	}

	.footer__privacyTerms {
		text-align: center;
	}

	.panel__unit {
		width: 18rem;
	}

	.panel__image {
		height: 10.75rem;
	}

	.premiumSearchResult__nameContainer,
	.freeSearchResult__nameContainer {
		text-align: center;
	}

	.premiumSearchResult__servicesContainer {
		border-bottom: 0.0625rem solid var(--grey236);
	}

	.searchResult__miniTitleText {
		font-size: 0.75rem;
	}

	/* My Account */

	.myAccount__flexUnit {
		flex-direction: column;
		justify-content: initial;
		align-items: initial;
	}

	.myAccount__bodyTextLargeFlex,
	.myAccount__bodyTextSmallFlex,
	.myAccount__bodyTextLargeFlexUpgrade {
		margin-bottom: var(--one);
	}

	.myAccount__vendorLogo {
		margin: var(--one) 0 var(--two);
	}

	.myAccount__errorBorder {
		border-right: none;
		border-left: none;
	}

	.myAccount__error {
		margin: 0 0 var(--one) 0;
		padding: 0;
		color: var(--red);
	}

	/* shared */

	.button__fauxAdd,
	.button__fauxChange,
	.button__fauxUpgradeAdd,
	.button__fauxUpgradeChange {
		margin-top: 0;
		margin-bottom: 0;
	}

	.centered__slim,
	.centered__narrow,
	.centered__standard {
		padding-right: var(--px32);
		padding-left: var(--px32);
	}

	.centered__slim {
		width: var(--slimWidth);
	}

	.internalContainer__standard,
	.internalContainer__narrow,
	.internalContainer__narrowVanish {
		border-width: initial;
		border-style: initial;
		border-color: initial;
		box-shadow: initial;
	}

	.internalContainer__narrowVanish {
		width: 100%;
	}

	.mainContainer__standard {
		padding: var(--four) 0;
	}

	.mainContainer__narrow {
		padding: 0;
	}

	/* Vendor List Search Page */

	.vendorList__premium__logoContactServicesContainer,
	.vendorList__premium__logoContactServicesContainerNoCompanyDescription {
		display: flex;
		flex-direction: column;
		align-items: initial;
		flex-wrap: initial;
	}

	.vendorList__premium__logoContainer {
		display: block;
		flex-direction: initial;
		flex-grow: initial;
		text-align: center;
		border-bottom: 0.0625rem solid var(--grey236);
	}

	.vendorList__premium__contactServicesContainer {
		flex-grow: initial;
	}

	.vendorList__searchResult__headline {
		text-align: center;
	}
}

@media all and (min-width: 1px) and (max-width: 480px) {
	:root {
		--font25: 2rem;
		--font2: 1.5rem;
		--font15: 1rem;
		--font125: 1rem;
		--font1125: 1rem;

		--standardWidth: auto;
		--narrowWidth: auto;

		--six: 3rem;
		--four: 2rem;
		--two: 1rem;
		--one: 0.5rem;
		--half: 0.25rem;
		--zero: 0;

		--twoVanish: 0;
		--fourVanish: 0;

		--px32: 8px;
		--px24: 6px;
		--px16: 4px;

		--px64Vanish: 0;
		--px32Vanish: 0;

		--logo6: 4rem;
		--logo5: 4rem;
		--logo4: 3rem;
		--logo3: 2rem;
	}

	/* Header & Footer */

	.header__rowTwo__branding {
		flex-direction: column;
	}

	.header__rowTwo__companyName {
		margin-top: var(--one);
	}

	.footer__columns {
		flex-direction: column;
		justify-content: initial;
		align-items: center;
	}

	.footer__nav {
		margin-bottom: var(--two);
	}

	.footer__logoProJournal {
		height: 1.5rem;
	}

	.footer__nav__activeUnit,
	.footer__nav__unit,
	.footer__copyright {
		text-align: center;
	}

	.footer__privacyTerms {
		text-align: center;
	}

	.panel__unit {
		width: 18rem;
	}

	.panel__image {
		height: 10.75rem;
	}

	.premiumSearchResult__nameContainer,
	.freeSearchResult__nameContainer {
		text-align: center;
	}

	.premiumSearchResult__servicesContainer {
		border-bottom: 0.0625rem solid var(--grey236);
	}

	.searchResult__miniTitleText {
		font-size: 0.75rem;
	}

	/* My Account */

	.myAccount__flexUnit {
		flex-direction: column;
		justify-content: initial;
		align-items: initial;
	}

	.myAccount__bodyTextLargeFlex,
	.myAccount__bodyTextSmallFlex,
	.myAccount__bodyTextLargeFlexUpgrade {
		margin-bottom: var(--one);
	}

	.myAccount__vendorLogo {
		margin: var(--one) 0 var(--two);
	}

	.myAccount__errorBorder {
		border-right: none;
		border-left: none;
	}

	.myAccount__error {
		margin: 0 0 var(--one) 0;
		padding: 0;
		color: var(--red);
	}

	/* Shared elements */

	.button__fauxAdd,
	.button__fauxChange,
	.button__fauxUpgradeAdd,
	.button__fauxUpgradeChange {
		margin-top: 0;
		margin-bottom: 0;
	}

	.centered__slim,
	.centered__narrow,
	.centered__standard {
		padding-right: var(--px32);
		padding-left: var(--px32);
	}

	.centered__slim {
		width: var(--slimWidth);
	}

	.internalContainer__standard,
	.internalContainer__narrow,
	.internalContainer__narrowVanish {
		border-width: initial;
		border-style: initial;
		border-color: initial;
		box-shadow: initial;
	}

	.internalContainer__narrowVanish {
		width: 100%;
	}

	.mainContainer__standard {
		padding: var(--four) 0;
	}

	.mainContainer__narrow {
		width: 100%;
		padding: 0;
	}

	/* Vendor List Search Page */

	.vendorList__premium__logoContactServicesContainer,
	.vendorList__premium__logoContactServicesContainerNoCompanyDescription {
		display: flex;
		flex-direction: column;
		align-items: initial;
		flex-wrap: initial;
	}

	.vendorList__premium__logoContainer {
		display: block;
		flex-direction: initial;
		flex-grow: initial;
		text-align: center;
		border-bottom: 0.0625rem solid var(--grey236);
	}

	.vendorList__premium__contactServicesContainer {
		flex-grow: initial;
	}

	.vendorList__searchResult__headline {
		text-align: center;
	}
}

/* Modifiers Spacing */

.-marginBottomSix {
	margin-bottom: var(--six);
}

.-marginBottomFour {
	margin-bottom: var(--four);
}

.-marginBottomTwo {
	margin-bottom: var(--two);
}

.-marginBottomOne {
	margin-bottom: var(--one);
}

.-marginBottomHalf {
	margin-bottom: var(--half);
}

.-marginBottomZero {
	margin-bottom: var(--zero);
}

.-marginTopZero {
	margin-top: var(--zero);
}

.-marginRightLeft32 {
	margin-right: var(--px32);
	margin-left: var(--px32);
}

.-marginLeft64Vanish {
	margin-left: var(--px64Vanish);
}

.-paddingBottomTwo {
	padding-bottom: var(--two);
}

.-paddingRightLeft32 {
	padding-right: var(--px32);
	padding-left: var(--px32);
}

.-paddingRightLeft16 {
	padding-right: var(--px16);
	padding-left: var(--px16);
}

.-paddingZero {
	padding: var(--zero);
}

.-borderBottom32 {
	border-bottom: 0.0625rem solid var(--grey32);
}

.-paddingDefaultContainerRightLeft {
	padding-right: var(--px32);
	padding-left: var(--px32);
}

.-paddingTopBottomFour {
	padding-top: var(--four);
	padding-bottom: var(--four);
}

.-paddingTopBottomTwo {
	padding-top: var(--two);
	padding-bottom: var(--two);
}

.-paddingTopBottomOne {
	padding-top: var(--one);
	padding-bottom: var(--one);
}

.-paddingTopBottomHalf {
	padding-top: var(--half);
	padding-bottom: var(--half);
}

/* Modifiers Display */

.-borderClear {
	border-color: var(--white);
}

.-borderError {
	border-width: 3px;
	border-style: solid;
	border-color: var(--red);
}

.-centerAlign {
	text-align: center;
}

.-greenBorder {
	border-color: var(--green200);
}

.-inlineBlock {
	display: inline-block;
}

.-noWrap {
	white-space: nowrap;
}

.-rightAlign {
	text-align: right;
}

.-whiteBackground {
	background-color: var(--white);
}

/* Modifiers Font */

.-bold {
	font-weight: 600;
}

.-blueColor {
	color: var(--blue);
}

.-errorColor {
	color: var(--red);
}

.-orangeColor {
	color: var(--orange128);
}

.-greenColor {
	color: var(--green150);
}

.-seeThrough {
	opacity: 0.66;
}

.-setFontFamilyDefault {
	font-family: 'Roboto Condensed', sans-serif;
}

.-standardWeight {
	font-weight: 300;
}
