:root {
    --blue: rgb(6, 133, 174);
    --darkBlue: rgb(19, 75, 122);
    --gold: rgb(255, 208, 106);
    --green: rgb(0, 255, 0);
    --green200: rgb(0, 200, 0);
    --green150: rgb(0, 150, 50);
    --grey16: rgb(16, 16, 16);
    --grey32: rgb(32, 32, 32);
    --grey48: rgb(48, 48, 48);
    --grey64: rgb(64, 64, 64);
    --grey92: rgb(92, 92, 92);
    --grey128: rgb(128, 128, 128);
    --grey192: rgb(192, 192, 192);
    --grey224: rgb(224, 224, 224);
    --grey248: rgb(248, 248, 248);
    --lightYellow: rgb(255, 248, 229);
    --lightBlue: rgb(205, 231, 239);
    --mediumBlue: rgb(128, 192, 255);
    --orange128: rgb(255, 128, 0);
    --red: rgb(192, 0, 0);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);

    --font25: 2.5rem;
    --font2: 2rem;
    --font15: 1.5rem;
    --font125: 1.25rem;
    --font1125: 1.125rem;
    --font1: 1rem;
    --font75: .75rem;

    --narrowWidth: 30rem;
    --standardWidth: 61rem;

    --six: 6rem;
    --four: 4rem;
    --two: 2rem;
    --one: 1rem;
    --half: .5rem;

    --twoVanish: 2rem;
    --fourVanish: 4rem;

    --px64: 64px;
    --px32: 32px;
    --px16: 16px;
    --px8: 8px;

    --px32Vanish: 32px;

    --logo6: 6rem;
    --logo5: 5rem;
    --logo4: 4rem;
}

/* This is for the temporary index.html page only. */

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.icon {
    width: 12rem;
    height: 12rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--grey64);
    background-color: var(--white);
}

img {
    vertical-align: top;
}

button:hover {
    cursor: pointer;
}

footer {
    border-top-width: .625rem;
    border-top-style: solid;
    border-top-color: var(--grey48);
    background-image: url(../images/bg-dark-wave.png); 
}

/* Change autocomplete styles in Chrome.  Only use of !important on sheet.*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active
{
    box-shadow: 0 0 0 10rem var(--white) inset !important;
    font-size: var(--font15) !important;
}

.standardWidth, 
.standardWidthVanish,
.narrowWidth,
.narrowWidthVanish {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.standardWidth {
    width: var(--standardWidth);
}

.standardWidthVanish {
    width: var(--standardWidth);
}

.narrowWidth {
    width: var(--narrowWidth);
}

.narrowWidthVanish {
    width: var(--narrowWidth);
}

.headlineLarge,
.headlineMedium,
.headlineSmall,
.headlineTiny {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.headlineLarge {
    font-size: var(--font25);
}

.headlineMedium {
    font-size: var(--font2);
}

.headlineSmall {
    font-size: var(--font15);
}

.headlineTiny {
    font-size: var(--font125);
}

.headlineLarge a:link,
.headlineMedium a:link,
.headlineSmall a:link,
.headlineTiny a:link {
    text-decoration: underline;
}

.headlineLarge a:visited,
.headlineMedium a:visited,
.headlineSmall a:visited,
.headlineTiny a:visited {
    text-decoration: underline;
}

.headlineLarge a:hover,
.headlineMedium a:hover,
.headlineSmall a:hover,
.headlineTiny a:hover {
    text-decoration: underline;
}

.headlineLarge a:active,
.headlineMedium a:active,
.headlineSmall a:active,
.headlineTiny a:active {
    color: var(--red);
}

.textExtraLarge,
.textLarge,
.textMedium,
.textSmall,
.textTiny,
.button_fauxLink {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.textExtraLarge {
    font-size: var(--font2);
}

.textLarge {
    font-size: var(--font15);
}

.textMedium {
    font-size: var(--font125);
}

.textSmall,
.button_fauxLink {
    font-size: var(--font1);
}

.textTiny {
    font-size: var(--font75);
}

.textExtraLarge a:link,
.textLarge a:link,
.textMedium a:link,
.textSmall a:link,
.textTiny a:link {
    color: var(--blue);
    text-decoration: underline;
}

.textExtraLarge a:visited,
.textLarge a:visited,
.textMedium a:visited,
.textSmall a:visited,
.textTiny a:visited {
    color: var(--blue);
    text-decoration: underline;
}

.textExtraLarge a:hover,
.textLarge a:hover,
.textMedium a:hover,
.textSmall a:hover,
.textTiny a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.textExtraLarge a:active,
.textLarge a:active,
.textMedium a:active,
.textSmall a:active,
.textTiny a:active {
    color: var(--red);
    text-decoration: underline;
}

.darkWaveBackground {
    background-image: url(../images/bg-dark-wave.png);
}

.rowOne {
    padding-top: var(--half);
    padding-bottom: var(--half);
    font-size: var(--font1);
    color: var(--white);
    border-top-width: .25rem;
    border-bottom-width: .25rem;
    border-style: solid;
    border-color: var(--grey48);
    background-image: url(../images/bg-dark-wave.png);
}

.rowOne__internal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.rowOne__left {
    margin: 0 16px 0 0;
    padding: 0;
    text-align: center;
    font-size: var(--font125);
    font-weight: 300;
}

.rowOne__right, .dashboard__right {
    display: flex;
    align-items: center;
    margin-left: var(--px32);
}

.dashboard__right {
    background-color: var(--grey64);
    padding-left: var(--px16);
    padding-right: var(--px16);
}

.rowOne__rightText {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: var(--font1);
    color: var(--white);
}

.rowOne__rightText a:link {
    text-decoration: none;
    color: var(--white);
}

.rowOne__rightText a:visited {
    text-decoration: none;
    color: var(--white);
}

.rowOne__rightText a:hover {
    text-decoration: none;
    color: var(--gold);
}

.rowOne__rightText a:active {
    text-decoration: none;
    color: var(--red);
}

.rowOne__rightBreak {
    margin-right: var(--one);
    margin-left: var(--one);
    height: 2rem;
    border-right: 1px solid var(--white);
}

.rowOne__vendorIcon {
    flex-shrink: 0;
    margin-left: .5rem;
    padding-top: .375rem;
    padding-bottom: .375rem;
    width: 1.25rem;
    height: 1.25rem;
}

.top__branding {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowTwo__logo {
    flex-shrink: 0;
    margin: 0 1rem 0 0;
    width: 6rem;
    width: var(--logo6);
}

.rowTwo__text {
    margin: 0;
    padding: 0;
    font-size: var(--font25);
}

.rowTwo__text a:link {
    color: var(--grey64);
    text-decoration: none;
}

.rowTwo__text a:visited {
    color: var(--grey64);
    text-decoration: none;
}

.rowTwo__text a:hover {
    color: var(--grey64);
    text-decoration: none;
}

.rowTwo__text a:active {
    color: var(--grey64);
    text-decoration: none;
}

.rowTwo__headline {
    margin: 0 0 .5rem 0;
    padding: 0;
    font-weight: 600;
}

.topNavigation {
    padding-top: var(--one);
    padding-bottom: var(--one);
    border-top-width: .25rem;
    border-top-style: solid;
    border-top-color: var(--grey48);
    border-bottom-width: .25rem;
    border-bottom-style: solid;
    border-bottom-color: var(--grey48);
    background-image: url(../images/bg-dark-wave.png);
}

.topNavigation__internal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topNavigation__unit, .topNavigation__activeUnit {
    margin: 0 var(--one);
    padding: 0;
    font-size: var(--font15);
}

.topNavigation__unit a:link {
    color: var(--white);
    text-decoration: none;
}

.topNavigation__unit a:visited {
    color: var(--white);
    text-decoration: none;
}

.footerNavigation__unit a:link {
    color: var(--grey192);
    text-decoration: none;
}

.footerNavigation__unit a:visited {
    color: var(--grey192);
    text-decoration: none;
}

.topNavigation__activeUnit a:link, .footerNavigation__activeUnit a:link {
    color: var(--gold);
    text-decoration: none;
}

.topNavigation__activeUnit a:visited, .footerNavigation__activeUnit a:visited {
    color: var(--gold);
    text-decoration: none;
}

.topNavigation__unit a:hover, .topNavigation__activeUnit a:hover, .footerNavigation__unit a:hover, .footerNavigation__activeUnit a:hover {
    color: var(--gold);
    text-decoration: underline;
}

.topNavigation__unit a:active, .topNavigation__activeUnit a:active, .footerNavigation__unit a:active, .footerNavigation__activeUnit a:active {
    color: var(--red);
    text-decoration: underline;
}

.panel__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel {
    width: 25rem;
    max-width: 100%;
    border-width: .0625rem;
    border-style: solid;
    border-color: var(--grey192);
}

.panel__headline {
    margin: 0;
    padding: var(--one) 16px;
    text-align: center;
    font-size: var(--font15);
    color: var(--white);
    background-color: var(--darkBlue);
}

.panel__headline a:link {
    color: var(--white);
    text-decoration: none;
}

.panel__headline a:visited {
    color: var(--white);
    text-decoration: none;
}

.panel__headline a:hover {
    color: var(--gold);
    text-decoration: underline;
}

.panel__headline a:active {
    color: var(--red);
    text-decoration: underline;
}

.panel__image {
    max-width: 100%;
    height: 15rem;
}

.-panelRegister {
    background-image: url(../images/bg-register.jpg);
    background-size: cover;
}

.-panelSearch {
    background-image: url(../images/bg-search.jpg);
    background-size: cover;
}

.panel__text {
    margin: 0;
    padding: var(--one) 16px;
    background-color: var(--white);
    font-size: var(--font125);
    border-top-width: .0625rem;
    border-top-style: solid;
    border-top-color: var(--grey192);
}

.panel__text a:link {
    color: var(--grey64);
    text-decoration: none;
}

.panel__text a:visited {
    color: var(--grey64);
    text-decoration: none;
}

.panel__text a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.panel__text a:active {
    color: var(--red);
    text-decoration: underline;
}

.input__unit {
    display: flex;
    flex-direction: column;
}

.input__field, .input__passwordField {
    padding: 8px;
    font-size: var(--font15);
}

.input__field {
    border: 1px solid var(--grey192);
}

.checkBox__largeContainer {
    border: 3px solid var(--white);
}

.input__passwordField {
    flex-grow: 1;
    border: none;
}

.input__label {
    margin-bottom: .5rem;
    font-size: var(--font125);
    font-weight: 600;
}

.input__errorMessage {
    padding: .5rem 8px 0;
    color: var(--red);
}

.checkBox__unit {
    border: 3px solid var(--white);
}

.checkBox__label {
    margin-left: .5rem;
    font-size: var(--font15);
    font-weight: 300;
}

#termsOfUseUnit {
    display: flex;
    align-items: center;
    padding: .5rem;
}

#termsOfUse {
    margin: 0 1rem 0 0;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.password__container {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey192); 
}

#targetPasswordContainer, #targetPasswordConfirmContainer {
    background-color: var(--white);
}

.password__toggle {
    display: none;
    margin: 0 8px;
}

#password__eye, #password__eyeConfirm, #password__eyeCurrent {
    cursor: pointer;
    width: 30px;
}

.dashboard__fauxButton, .dashboard__fauxButtonAdd, .dashboard__fauxButtonPremium, .dashboard__fauxButtonPremiumAdd {
    display: inline-block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .25rem;
    width: 4.5rem;
    text-align: center;
    font-size: var(--font1125);
}

.dashboard__fauxButton, .dashboard__fauxButtonAdd {
    background-color: var(--grey64);
}

.dashboard__fauxButtonPremium, .dashboard__fauxButtonPremiumAdd {
    background-color: var(--darkBlue);
}

.dashboard__fauxButtonAdd, .dashboard__fauxButtonPremiumAdd {
    color: var(--gold);
}

.dashboard__fauxButton, .dashboard__fauxButtonPremium {
    color: var(--white);
}

.dashboard__fauxButton:hover, .dashboard__fauxButtonAdd:hover, .dashboard__fauxButtonPremiumAdd:hover {
    background-color: var(--grey32);
    color: var(--gold);
}

.dashboard__fauxButton:active, .dashboard__fauxButtonAdd:active, .dashboard__fauxButtonPremiumAdd:active {
    background-color: var(--grey32);
    color: var(--gold);
}

.dashboard__success, .dashboard__noChange {
    margin: 0 auto 1rem;
    padding: .5rem 0;
    font-size: var(--font125);
    color: var(--white);
    text-align: center;
    overflow: hidden;
    animation-name: fadeOut;
    animation-duration: .25s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.dashboard__success {
    background-color: var(--darkBlue);
}

.dashboard__noChange {
    background-color: var(--grey128);
}

@keyframes fadeOut {
    from {
        transform: scaleY(1);
        margin-bottom: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: 24px;
        opacity: 1;
    }

    to {
        transform: scaleY(0);
        margin-bottom: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        font-size: 0px;
        opacity: 0;
    }
}

.dashboard__unit, .dashboard__unitCovered, .dashboard__errorFeatureUnit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__unit {
    padding: 1.5rem 0;
}

.dashboard__errorFeatureUnit {
    padding-top: calc(1.5rem - 3px);
    padding-bottom: calc(1.5rem - 3px);
    padding-right: calc(0 - 3px);
    padding-left: calc(0 - 3px);
    border: 3px solid var(--white);
}

.dashboard__unitCoveredLink {
    display: block;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: var(--blue);
    background-color: var(--white);
    border: none;
    margin: 0;
    padding: 1.5rem 0;
    width: 100%;
}

.dashboard__headline {
    margin: 0;
    padding: var(--px32) 0;
    text-align: center;
    font-size: var(--font2);
    font-weight: 600;
    background-color: var(--grey248);
    border-top: .0625rem solid var(--grey224);
    border-bottom: .0625rem solid var(--grey224);
}

.dashboard__key {
    margin-top: 0;
    margin-bottom: .5rem;
    padding: 0;
    font-size: var(--font125);
    font-weight: 600;
}

.dashboard__value, .dashboard__valueSmall {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.dashboard__value {
    font-size: var(--font15);
}

.dashboard__valueSmall {
    font-size: var(--font1);
}

.premium__unit {
    padding-top: var(--px32);
    padding-bottom: var(--px32);
    background-color: var(--darkBlue);
}

.premium__headline {
    font-size: var(--font2);
    color: var(--white);
}

.premium__description {
    font-size: var(--font15);
    color: var(--white);
}

.addressNormalizationBox {
    margin-bottom: var(--two);
    font-size: var(--font15);
    background-color: var(--grey248);
    border: .0625rem solid var(--grey224);
}

.addressNormalization {
    margin: 0 var(--px32);
    padding: 0;
}

#passwordStrength {
    display: none;
    margin: 8px 0 0 0;
}

#passwordLevel {
    display: none;
    font-weight: 600;
}

#passwordMeterContainer {
    display: none;
}

#passwordMeterLabel, #passwordMatchLabel {
    margin-right: 4px;
    font-weight: 600;
}

#passwordMeterLabel {
    display: inline-block;
}

#passwordMatchLabel {
    display: none;
    height: 8px;
    margin-bottom: 10px;
}

.passwordMeterBox {
    display: inline-block;
    margin-right: 4px;
    width: 32px;
    height: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey224); 
}

.highlightEffect {
    background-color: rgb(204, 222, 255);
}

.-thinLineShadowBorder {
    border-width: .0625rem;
    border-style: solid;
    border-color: var(--grey192); 
    background-color: var(--white);
    box-shadow: 0 0 var(--half) var(--grey192);
}

.-thinLine3SideShadowBorder {
    border-top-width: 0;
    border-right-width: .0625rem;
    border-bottom-width: .0625rem;
    border-left-width: .0625rem;
    border-style: solid;
    border-color: var(--grey192); 
    background-color: var(--white);
    box-shadow: 0 0 var(--half) var(--grey192);
}

.headerGrey {
    background-color: var(--grey224);
    border-bottom: .0625rem solid var(--grey192);
}

.headerGrey__logo {
    width: var(--logo5);
    height: var(--logo5);
}

.dashboard__header {
    position: relative;
    z-index: 10;
    background-color: var(--grey224);
    border-bottom: .0625rem solid var(--grey192);
}

.dashboard__headerInternal {
    display: flex;
    justify-content: space-between;
}

.dashboard__headerLeft {
    display: flex;
    align-items: center;
}

.dashboard__logo {
    width: var(--logo4);
    height: var(--logo4);
}

.narrowScreen__headline {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: var(--font25);
    font-weight: 600;
}

#narrowScreen__button, .uspsFormat__button, .originalFormat__button, .upgradePremium__button {
    padding-top: var(--half);
    padding-bottom: var(--half);
    width: 100%;
    color: var(--white);
    border: none;
}

#narrowScreen__button, .upgradePremium__button {
    font-size: var(--font2);
    background-color: var(--grey64);
}

.uspsFormat__button, .originalFormat__button {
    font-size: var(--font15);
}

.uspsFormat__button {
    background-color: var(--green150);
}

.originalFormat__button {
    background-color: var(--grey64);
}

.button_fauxLink {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: underline;
    color: var(--blue);
    background-color: var(--white);
    border: none;
}

.register__body {
    background-color: rgb(250, 250, 250);
}

.cancelBar, .successBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--px16);
    padding-bottom: var(--px16);
    border-bottom: .0625rem solid var(--grey192);
}    

.cancelBar {
    background-color: var(--orange128);
}

.successBar {
    background-color: var(--green200);
}

.xClose {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: var(--px32);
    margin-left: var(--px32);
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: var(--logo5);
}

.footerNavigation__unit, .footerNavigation__activeUnit {
    margin: 0 0 .5rem;
    padding: 0;
}

.footerLink {
    font-size: var(--fontOne);
    color: var(--grey192);
}

.footerLink a:link {
    color: var(--grey192);
    text-decoration: underline;
}

.footerLink a:visited {
    color: var(--grey192);
    text-decoration: underline;
}

.footerLink a:hover {
    color: var(--gold);
    text-decoration: underline;
}

.footerLink a:active {
    color: var(--red);
    text-decoration: underline;
}

#copyright, #narrowScreen_copyright {
    margin: 0;
}

#copyright {
    padding: 0 0 var(--one);
    text-align: right;
    color: var(--grey192);
}

#narrowScreen_copyright {
    margin-bottom: var(--one);
    text-align: center;
}

.-errorBorder {
    border: 1px;
    border: solid;
    border-color: var(--red); 
}

.-errorBorderCheckbox {
    border-color: var(--red); 
}

.-errorBorderVanish {
    border-top: 3px solid var(--red);
    border-right: 3px solid var(--red);
    border-bottom: 3px solid var(--red);
    border-left: 3px solid var(--red);
}

.-errorColor {
    color: var(--red);
}

.-inactiveText {
    color: var(--orange128);
    font-weight: 600;
}

.-liveText {
    color: var(--green200);
    font-weight: 600;
}

.-topMarginHuge {
    margin-top: var(--six);
}

.-bottomMarginHuge {
    margin-bottom: var(--six);
}

.-topBottomMarginLarge {
    margin-top: var(--four);
    margin-bottom: var(--four);
}

.-topMarginLarge {
    margin-top: var(--four);
}

.-bottomMarginLarge {
    margin-bottom: var(--four);
}

.-topBottomMarginLargeVanish {
    margin-top: var(--fourVanish);
    margin-bottom: var(--fourVanish);
}

.-topMarginLargeVanish {
    margin-top: var(--fourVanish);
}

.-bottomMarginLargeVanish {
    margin-bottom: var(--fourVanish);
}

.-topBottomMarginMedium {
    margin-top: var(--two);
    margin-bottom: var(--two);
}

.-topMarginMedium {
    margin-top: var(--two);
}

.-bottomMarginMedium {
    margin-bottom: var(--two);
}

.-topBottomMarginMediumVanish {
    margin-top: var(--twoVanish);
    margin-bottom: var(--twoVanish);
}

.-topMarginMediumVanish {
    margin-top: var(--twoVanish);
}

.-bottomMarginMediumVanish {
    margin-bottom: var(--twoVanish);
}

.-topBottomMarginSmall {
    margin-top: var(--one);
    margin-bottom: var(--one);
}

.-topMarginSmall {
    margin-top: var(--one);
}

.-bottomMarginSmall {
    margin-bottom: var(--one);
}

.-topBottomMarginTiny {
    margin-top: var(--half);
    margin-bottom: var(--half);
}

.-topMarginTiny {
    margin-top: var(--half);
}

.-bottomMarginTiny {
    margin-bottom: var(--half);
}

.-topBottomPaddingLarge {
    padding-top: var(--four);
    padding-bottom: var(--four);
}

.-topPaddingLarge {
    padding-top: var(--four);
}

.-bottomPaddingLarge {
    padding-bottom: var(--four);
}

.-topBottomPaddingMedium {
    padding-top: var(--two);
    padding-bottom: var(--two);
}

.-topPaddingMedium {
    padding-top: var(--two);
}

.-bottomPaddingMedium {
    padding-bottom: var(--two);
}

.-topBottomPaddingSmall {
    padding-top: var(--one);
    padding-bottom: var(--one);
}

.-topPaddingSmall {
    padding-top: var(--one);
}

.-bottomPaddingSmall {
    padding-bottom: var(--one);
}

.-topBottomPaddingTiny {
    padding-top: var(--half);
    padding-bottom: var(--half);
}

.-topPaddingTiny {
    padding-top: var(--half);
}

.-bottomPaddingTiny {
    padding-bottom: var(--half);
}

.-rightLeftMarginLarge {
    margin-right: var(--px64);
    margin-left: var(--px64);
}

.-leftMarginLarge {
    margin-left: var(--px64);
}

.-leftMarginLargeVanish {
    margin-left: var(--px64Vanish);
}

.-rightLeftMarginMedium {
    margin-right: var(--px32);
    margin-left: var(--px32);
}

.-rightMarginMedium {
    margin-right: var(--px32);
}

.-leftMarginMedium {
    margin-left: var(--px32);
}

.-rightLeftPaddingLarge {
    padding-right: var(--four);
    padding-left: var(--four); 
}

.-rightLeftPaddingMedium {
    padding-right: var(--px32);
    padding-left: var(--px32); 
}

.-rightLeftPaddingMediumVanish {
    padding-right: var(--px32Vanish);
    padding-left: var(--px32Vanish); 
}

.-rightLeftPaddingMediumStatic {
    padding-right: 32px;
    padding-left: 32px;
}

.-rightLeftMarginSmall {
    margin-right: var(--px16);
    margin-left: var(--px16);
}

.-rightMarginSmall {
    margin-right: var(--px16);
}

.-leftMarginSmall {
    margin-left: var(--px16);
}

.-rightLeftMarginTiny {
    margin-right: var(--px8);
    margin-left: var(--px8);
}

.-rightLeftPaddingSmall {
    padding-right: var(--px16);
    padding-left: var(--px16);
}

.-rightLeftPaddingSmallStatic {
    padding-right: 16px;
    padding-left: 16px;
}

.-bottomBorder {
    border-bottom-width: .0625rem;
    border-bottom-style: solid;
    border-bottom-color: var(--grey224);
}

.-centerAlign {
    text-align: center;
}

.-rightAlign {
    text-align: right;
}

.-centerObject {
    margin-right: auto;
    margin-left: auto;
}

.-blueText {
    color: var(--blue);
}

.-darkBlueText {
    color: var(--darkBlue);
}

.-opacity50 {
    opacity: 0.5;
}

.-opacity33 {
    opacity: 0.33;
}

.stripeContainer {
    text-align: center;
}

.-setFontFamilyDefault {
    font-family: 'Roboto Condensed', sans-serif;
}

@media all and (min-width:680px) and (max-width:975px) {

:root {
    --font25: 2.25rem;
    --font2: 1.75rem;
    --font15: 1.25rem;
    --font125: 1.25rem;
    --font1125: 1.125rem;

    --six: 4.5rem;
    --four: 3rem;
    --two: 1.5rem;
    --one: 1rem;

    --twoVanish: 1.5rem;
    --fourVanish: 3rem;

    --px32: 24px;
    --px16: 12px;
    --px8: 6px;

    --px64Vanish: 48px;
    --px32Vanish: 24px;

    --logo6: 5rem;
    --logo5: 4.5rem;
    --logo4: 3.5rem;
}

.topNavigation__unit, .topNavigation__activeUnit {
    font-size: 1.25rem;
}

.panel {
    width: 18rem;
}

.panel__image {
    height: 10.75rem;
}

}

@media all and (min-width:480px) and (max-width:679px) {

:root {
    --font25: 2rem;
    --font2: 1.75rem;
    --font15: 1.25rem;
    --font125: 1rem;
    --font1125: 1rem;

    --six: 3.75rem;
    --four: 2.5rem;
    --two: 1.25rem;
    --one: .75rem;

    --twoVanish: 0;
    --fourVanish: 0;    

    --px32: 16px;
    --px16: 8px;
    --px8: 6px;

    --px64Vanish: 0;
    --px32Vanish: 0;

    --logo6: 4.5rem;
    --logo5: 4rem;
    --logo4: 3.5rem;
}

.narrowWidthVanish {
    width: auto;
}

.-thinLineShadowBorder {
    border-width: initial;
    border-style: none;
    border-color: initial; 
    box-shadow: none;
}

.rowTwo {
    justify-content: initial;
    align-items: center;
    flex-direction: column;
}

.panel {
    width: 18rem;
}

.panel__image {
    height: 10.75rem;
}

.dashboard__unit, .dashboard__unitCovered, .dashboard__errorFeatureUnit {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
}

.dashboard__fauxButton {
    margin-top: 1rem;
    margin-bottom: 0;
}

.xClose {
    width: 16px;
    height: 16px;
}

.footer__container {
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    margin-top: 2rem;
}

.footerNavigation__activeUnit, .footerNavigation__unit, .footerLink, #copyright {
    text-align: center;
}

.-errorBorderVanish {
    border-right: none;
    border-left: none;
}

}

@media all and (min-width:1px) and (max-width:479px) {

:root {
    --font25: 2rem;
    --font2: 1.5rem;
    --font15: 1rem;
    --font125: 1rem;
    --font1125: 1rem;

    --six: 3rem;
    --four: 2rem;
    --two: 1rem;
    --one: .5rem;

    --twoVanish: 0;
    --fourVanish: 0;    

    --px32: 8px;
    --px16: 4px;

    --px64Vanish: 0;
    --px32Vanish: 0;

    --logo6: 4rem;
    --logo5: 4rem;
    --logo4: 3rem;
}

.narrowWidthVanish {
    width: auto;
}

.-thinLineShadowBorder {
    border-width: initial;
    border-style: none;
    border-color: initial; 
    box-shadow: none;
}

.panel {
    width: 18rem;
}

.panel__image {
    height: 10.75rem;
}

.dashboard__unit, .dashboard__unitCovered, .dashboard__errorFeatureUnit {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
}

.dashboard__fauxButton {
    margin-top: 1rem;
    margin-bottom: 0;
}

.xClose {
    width: 16px;
    height: 16px;
}

.footer__container {
    flex-direction: column;
}

.footer__logo {
    align-self: flex-end;
    margin-top: 2rem;
}

.footerNavigation__activeUnit, .footerNavigation__unit, .footerLink, #copyright {
    text-align: center;
}

.-errorBorderVanish {
    border-right: none;
    border-left: none;
}

}