<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Deleted</title>
    <%- include('includes/head_boilerplate.ejs') %>
    <script defer src="js/screen-width.js"></script>

</head>
<body>

    <%- include('includes/narrowScreen_top_boilerplate.ejs') %>

                <h3 class="headlineLarge -centerText -bottomMarginMedium">Your account has been deleted.</h3>

                <p class="textLarge -bottomMarginLarge">We're sorry to see you go.  Feel free to register a new account.</p>

    <%- include('includes/narrowScreen_bottom_boilerplate.ejs') %>

</body>
</html>