<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Deleted</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <script defer src="js/screen-width.js"></script>

</head>
<body>

    <%- include('includes/narrowScreen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge -centerAlign -bottomMarginMedium">Account Deleted</h3>

                <p class="textLarge -bottomMarginLarge">We're sorry to see you go.  Feel free to register a new account.</p>

    <%- include('includes/narrowScreen-bottom-boilerplate.ejs') %>

</body>
</html>