<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login To Your Account On Foreclosure Cleanup Account</title>
    <%- include('includes/header_boilerplate.ejs') %>

</head>
<body class="darkWaveBackground">

    <main class="-rightLeftPadding">

        <div class="mainBlock__externalBorder whiteBackground -reducedWidth -topBottomMarginLarge">
        
            <%- include('includes/small_screen_header.ejs') %>
        
            <div class="mainBlock__internalBorder -topBottomPadding -rightLeftPadding">

                <p class="message__headline">500 - Internal Server Error</p>
                <p class="message__text">Oops, something went wrong.</p>
                <p class="message__text">The server encountered an internal error and may have been unable to complete your request.  Please try again.</p>

            </div>

        </div>

    </main>

</body>
</html>