<!DOCTYPE html>
<html lang="en">
<head>
    <title>500 - Internal Server Error</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>

                <p class="headlineLarge -centerAlign -bottomMarginMedium">500 - Internal Server Error</p>
                <p class="textLarge -bottomMarginMedium">Oops, something went wrong.</p>
                <p class="textLarge -bottomMarginLarge">The server encountered an internal error and was unable to complete your request.  Please try again.</p>

    <%- include('includes/narrow-screen-bottom-boilerplate.ejs') %>

</body>
</html>