<!DOCTYPE html>
<html lang="en">
<head>
    <title>Property Preservation &amp; Foreclosure Cleanup Vendor List</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <script defer src="js/screen-width.js"></script>
</head>
<body>

    <%- include('includes/standard-screen-header-boilerplate.ejs') %>

    <main>

        <div class="-topBottomPaddingLarge">

        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>