<!DOCTYPE html>
<html lang="en">
<head>
    <title>Property Preservation &amp; Foreclosure Cleanup Vendor List</title>
    <%- include('includes/head_boilerplate.ejs') %>
    <script defer src="js/screen-width.js"></script>
</head>
<body>

    <%- include('includes/standard_screen_header_boilerplate.ejs') %>

    <main>

        <div class="-topBottomPaddingLarge">

        </div>

    </main>

    <%- include('includes/standard_screen_footer.ejs') %>

</body>
</html>