<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foreclosure Cleanup.org</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>
    
    <div class="singlePage__verticalCenter">
        <img class="singlePage__icon" src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo">
    </div>

</body>
</html>