<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foreclosure Cleanup.org</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>
</head>

<body>

    <%- include('includes/standard-screen-header-boilerplate.ejs') %>

    <main class="-topBottomPaddingLarge">

        <div class="-standardWidth panel__container">
        
            <div class="panel -topBottomMarginMedium -rightLeftMarginMedium">
                <p class="panel__headline"><a href="/foreclosure-cleanup-vendor-list">FIND A SERVICE PROVIDER</a></p>
                <a href="/foreclosure-cleanup-vendor-list"><div class="panel__image -panelSearch"></div></a>
                <p class="panel__text"><a href="/foreclosure-cleanup-vendor-list">Property Preservation service providers include trash-out, locksmith, pool, landscaping, handyman, painting, flooring, contractor, carpenter, electrical, HVAC & plumbing services.</a></p>
            </div>
            
            <div class="panel -topBottomMarginMedium -rightLeftMarginMedium">
                <p class="panel__headline"><a href="/register">REGISTER YOUR COMPANY</a></p>
                <a href="/register"><div class="panel__image -panelRegister"></div></a>
                <p class="panel__text"><a href="/register">Register your Property Preservation or Foreclosure Service Provider Company on the National Vendor List.</a></p>
            </div>
            
        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>