<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foreclosure Cleanup.org</title>
    <%- include('includes/header_boilerplate.ejs') %>
</head>
<body>
    
    <div class="vertical-center">
        <img class="icon" src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo">
    </div>

</body>
</html>