<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foreclosure Cleanup.org</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>
</head>

<body>

    <%- include('includes/header-standard.ejs') %>

    <main class="mainContainer__standard">

        <div class="panel__container">
        
            <div class="panel__unit">
                <p class="panel__headline"><a href="/foreclosure-cleanup-vendor-list">FIND A SERVICE PROVIDER</a></p>
                <a href="/foreclosure-cleanup-vendor-list"><div class="panel__image -panel__searchBackground"></div></a>
                <p class="panel__text"><a href="/foreclosure-cleanup-vendor-list">Property Preservation service providers include boarding &amp; securing, debris removal &amp; trash-out, eviction management, field inspection, handyman &amp; general maintenance, landscaping, locksmith, rehab management, pool, winterization &amp; cleaning services.</a></p>
            </div>
            
            <div class="panel__unit">
                <p class="panel__headline"><a href="/register">REGISTER YOUR COMPANY</a></p>
                <a href="/register"><div class="panel__image -panel__registerBackground"></div></a>
                <p class="panel__text"><a href="/register">Register your Property Preservation or Foreclosure Service Provider Company on the National Vendor List.</a></p>
            </div>
            
        </div>

    </main>

    <%- include('includes/footer-standard.ejs') %>

</body>
</html>