<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log In Temporarily Suspended</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrowScreen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge -centerAlign -bottomMarginMedium">Log in Failure Limit Reached.</h3>
                <p class="textLarge -bottomMarginMedium">We are sorry but you have reached the maximum number of log in failures.  For your protection access to your account has been temporarily suspended.</p>
                <p class="textLarge -bottomMarginLarge">Please try again in <%= expirationTime %>.</p>

    <%- include('includes/narrowScreen-bottom-boilerplate.ejs') %>

</body>
</html>