<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log In Temporarily Suspended</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge">Log in Failure Limit Reached.</h3>
                <p class="font15 -marginBottomTwo">We are sorry but you have reached the maximum number of log in failures.  For your protection access to your account has been temporarily suspended.</p>
                <p class="font15 -marginBottomFour">Please try again in <%= expirationTime %>.</p>

    <%- include('includes/narrow-screen-bottom-boilerplate.ejs') %>

</body>
</html>