<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Foreclosure Cleanup.org</title>
		<%- include('includes/head-boilerplate.ejs') %> <%- include('includes/log-in-out-rollover.ejs') %>
	</head>

	<body>
		<%- include('includes/header-standard.ejs') %>

		<main class="mainContainer__standard">
			<div class="latest__container">
				<p class="latest__headline">News &amp; Photos</p>
				<div class="latest__interiorContainer">
					<div class="latest__unit">
						<a href=""><img src="/images/hoarder_1.jpg" alt="" class="latest__image" /></a>
						<p class="latest__text"><a href="">I can't find my keys.</a></p>
					</div>
					<div class="latest__unit">
						<a href=""><img src="/images/hoarder_2.jpg" alt="" class="latest__image" /></a>
						<p class="latest__text"><a href="">Cleaning day.</a></p>
					</div>
					<div class="latest__unit">
						<a href=""><img src="/images/hoarder_3.jpg" alt="" class="latest__image" /></a>
						<p class="latest__text"><a href="">We want Chipotle.</a></p>
					</div>
					<div class="latest__unit">
						<a href=""><img src="/images/hoarder_4.jpg" alt="" class="latest__image" /></a>
						<p class="latest__text"><a href="">Just like new.</a></p>
					</div>
				</div>
			</div>
		</main>

		<%- include('includes/footer-standard.ejs') %>
	</body>
</html>
