<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Foreclosure Cleanup.org</title>
		<%- include('includes/head-boilerplate.ejs') %> <%- include('includes/log-in-out-rollover.ejs') %>
	</head>

	<body>
		<%- include('includes/header-standard.ejs') %>

		<main class="mainContainer__standard">
			<div class="news__container">
				<p class="news__title"><span class="-goldBackground">News &amp; Photos</span></p>
				<div class="news__container__interior">
					<div class="news__unit">
						<a href="html/news-2021/article-template.html"><img src="images/hoarder_1.jpg" alt="" class="news__thumb" /></a>
						<p class="news__description"><a href="html/news-2021/article-template.html">I can't find my keys.</a></p>
						<p class="news__date"><a href="html/news-2021/article-template.html">February, 14 2022</a></p>
					</div>
					<div class="news__unit">
						<a href=""><img src="images/hoarder_2.jpg" alt="" class="news__thumb" /></a>
						<p class="news__description"><a href="">Cleaning day.</a></p>
						<p class="news__date"><a href="">February, 14 2022</a></p>
					</div>
					<div class="news__unit">
						<a href=""><img src="images/hoarder_3.jpg" alt="" class="news__thumb" /></a>
						<p class="news__description"><a href="">We want Chipotle. This is a fairly long description because why not.</a></p>
						<p class="news__date"><a href="">February, 14 2022</a></p>
					</div>
					<div class="news__unit">
						<a href=""><img src="images/hoarder_4.jpg" alt="" class="news__thumb" /></a>
						<p class="news__description"><a href="">Just like new.</a></p>
						<p class="news__date"><a href="">February, 14 2022</a></p>
					</div>
				</div>
			</div>
		</main>

		<%- include('includes/footer-standard.ejs') %>
	</body>
</html>
