<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 Error - Page Not Found</title>
    <%- include('includes/head_boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrowScreen_top_boilerplate.ejs') %>

                <h3 class="headlineLarge -centerAlign -bottomMarginMedium">404 Page Not Found</h3>

                <p class="textLarge -bottomMarginLarge">The page you were looking for does not exist.</p>

    <%- include('includes/narrowScreen_bottom_boilerplate.ejs') %>

</body>
</html>