<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login To Your Account On Foreclosure Cleanup Account</title>
    <%- include('includes/header_boilerplate.ejs') %>

</head>
<body>

    <main class="-topBottomMarginLargeVanish -rightLeftPaddingVanish">

        <div class="narrowScreen__externalBorder -thirtyWidthVanish">

            <div class="narrowScreen__header -topBottomPadding -bottomMargin">
                    <div class="narrowScreen__logo"><a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo"></a></div>
            </div> 

            <div class="-thirtyWidth -rightLeftPaddingStatic">
            <h3 class="narrowScreen__headline -bottomMargin">Password Reset.</h3>

            <p class="narrowScreen__text -bottomMarginLarge">Please enter the email associated with your account.</p>

                <form action="/password_reset_request" method="POST">

                    <div class="input__unit -bottomMarginLarge"> 
                        <label for="email" class="input__label
                            <% if (typeof emailError != "undefined") { %>
                                -errorColor
                            <% } %>               
                            ">Email Address:</label>
                        <input id="email" class="input__field
                            <% if (typeof emailError != "undefined") { %>
                                -errorBorder
                            <% } %>
                                " name="email" <%= emailAttributes %> value="<%= userInput.email %>" autofocus>
                        <% if (typeof emailError != "undefined") { %>
                        <div class="input__errorMessage"><%= emailError %></div>
                        <% } %> 
                    </div>

                    <div class="-bottomMarginLarge">
                        <button id="narrowScreen__button">Request Reset</button>
                    </div>  

                </form> 

                <p class="-centerText -bottomMargin"><a href="/privacy_policy_terms_service" class="tertiaryLink">Privacy Policy</a> | <a href="/privacy_policy_terms_service" class="tertiaryLink">Terms Of Service</a></p>
            
            </div>

            <div class="-reducedWidth"><p id="narrowScreen_copyright">© Foreclosure Cleanup.org - All Rights Reserved</p></div>   
            
        </div>

    </main>  

</body>
</html>