<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Successful</title>
    <%- include('includes/head_boilerplate.ejs') %>

</head>
<body>

    <main class="-topBottomMarginLargeVanish -rightLeftPaddingVanish">

        <div class="narrowScreenVanish -thinLineShadowBorder">

            <%- include('includes/header_grey.ejs') %>

            <div class="narrowScreen -rightLeftPaddingStatic">

                <h3 class="headlineLarge -bottomMarginMedium">Success</h3>

                <p class="textLarge -bottomMarginLarge">Your password has been successfully reset.  Click <a href="/login">login</a> and use your new password to enter your account.</p>

                <p class="textSmall -centerText -bottomMarginMedium"><a href="/privacy_policy_terms_service" class="tertiaryLink">Privacy Policy</a> | <a href="/privacy_policy_terms_service" class="tertiaryLink">Terms Of Service</a></p>

                <p id="narrowScreen_copyright">© Foreclosure Cleanup.org - All Rights Reserved</p>

            </div>
            
        </div>

    </main>

</body>
</html>