<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Successful</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge -centerAlign -bottomMarginMedium">Success</h3>

                <p class="textLarge -bottomMarginLarge">Your password has been successfully reset.  Click <a href="/login">login</a> and use your new password to enter your account.</p>

    <%- include('includes/narrow-screen-bottom-boilerplate.ejs') %>

</body>
</html>