<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Requested</title>
    <%- include('includes/header_boilerplate.ejs') %>

</head>
<body class="narrowScreen__body">

    <main class="-mainTopMarginLarge -bottomMarginLarge -mainRightLeftPadding">

        <div class="narrowScreen__externalBorder -reducedWidth -topBottomPadding -rightLeftPadding">

            <div class="narrowScreen__logo -bottomMargin"><a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo"></a></div>

            <h3 class="narrowScreen__headline -bottomMargin">Password Reset Requested</h3>
            <p class="narrowScreen__text -bottomMargin">A password reset was requested for the following email, <span class="highlightEffect"><%= email %></span> and should arrive within the next few minutes. Please watch for an email titled: <span class="highlightEffect"><%= emailSubject %></span>.</p>
            <p class="narrowScreen__text -bottomMargin">For security reasons the reset link will only remain active for <%= expirationTime %>.</p>
            <p class="-centerText -bottomMarginLarge"><a href="password_reset_request_sent" class="tertiaryLink">Resend password reset email</a>.</p>

            <p class="-centerText"><a href="/privacy_policy_terms_service" class="tertiaryLink">Privacy Policy</a> | <a href="/privacy_policy_terms_service" class="tertiaryLink">Terms Of Service</a></p>
            
        </div>

    </main>

    <div class="-reducedWidth"><p id="narrowScreen_copyright">© Foreclosure Cleanup.org - All Rights Reserved</p></div> 

</body>
</html>