<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foreclosure Cleanup.org</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>
</head>
<body>

    <%- include('includes/standard-screen-header-boilerplate.ejs') %>

    <main class="-topBottomPaddingLarge">

        <div class="-standardWidth -centerObject -rightLeftMarginMedium">

            <h2 class="headlineLarge -centerAlign">Privacy Policy<a name="privacyPolicy"></a></h2>
            <p class="headlineTiny -topMarginSmall -bottomMarginMedium -centerAlign">Last updated January 01, 2021</p>
            <div class="-bottomMarginMedium -bottomBorderDark"></div>
            <p class="textMedium -bottomMarginSmall">This Privacy Policy describes our policies on the collection, use and disclosure of information about you in connection with your use of the website foreclosurecleanup.org and any of its related services.</p>
            <p class="textMedium -bottomMarginSmall">foreclosurecleanup.org (referenced below as the “Website”) is owned by <a href="https://www.projournal.com">Pro Journal, LLC</a> (referenced below as “we”, “us” and “our”).  “Terms” refers to the policies set forth in this Privacy Policy.  “Business Listing” refers to the text, images and all other forms of data related to a business listing on the Foreclosure Cleanup.org National Vendor List.</p>
            <p class="textMedium -bottomMarginLarge">When you use our Website, you consent to the Terms in this Privacy Policy.  If you do not agree with any of the Terms in this Privacy Policy please discontinue use of this Website immediately.</p>
            <p class="textLarge -bottomMarginSmall">1. What Information Do We Collect?</p>
            <ul>
                <li class="textMedium -bottomMarginSmall">When you visit our site we automatically collect certain information from you.  This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about what time you accessed our Website and other technical information.  This information is needed to measure user traffic as well as for the security and normal operation of the Website.</li>
                <li class="textMedium -bottomMarginSmall">If you register a company on the National Vendor List our server automatically collects technical information from your device that facilitates the sign-up process.  We store and use the information that you provide to us during registration.  This may include but is not limited to your company’s name, phone number, address, website and other information that describes your company and its services.  In addition, after registration when you log in to your account our server automatically collects information that is necessary for the normal operation of our Website.</li>
                <li class="textMedium -bottomMarginLarge">If you upgrade your free account to a Premium account you will make an online payment.  All payments made through our Website are managed and processed by Stripe.  To learn more about Stripe’s policies visit these pages, <a href="https://stripe.com/privacy">Stripe Privacy Policy</a>, <a href="https://stripe.com/cookies-policy/legal"> Stripe Cookie Policy</a>, <a href="https://stripe.com/privacy-shield-policy">Stripe Privacy Shield Policy</a>, <a href="https://stripe.com/privacy-center/legal">Stripe Privacy Center</a>.</li>
            </ul>

            <p class="textLarge -bottomMarginSmall">2. How Do We Use Your Information?</p>
            <ul>
                <li class="textMedium -bottomMarginSmall">The information our server collects when users visit our Website is used to measure traffic, maintain security and for the normal operation of the Website. Unless the user logs in to a registered account this data does not reveal a user's identity or contain personal contact information.</li>
                <li class="textMedium -bottomMarginSmall">The device data our server collects during registration and log in is used for the normal function of our Website. The information about your company that you supply to us during registration will be displayed to users when they visit our National Vendor List. We may also use your information to contact you if we need to.</li>
                <li class="textMedium -bottomMarginLarge">We may disclose your information to investigate, prevent, or take action regarding potential violations of our policies, illegal activities including fraud, situations involving potential threats to the safety of any person or in response to a lawful subpeona or during litigation.</li>
            </ul>

            <p class="textLarge -bottomMarginSmall">3. Does Our Site Use Cookies?</p>
            <p class="textMedium -bottomMarginLarge">We use cookies to measure traffic and to facilitate the normal operation of our Website.  Most web browsers are initially set up to accept cookies. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent. Please note, however, that certain features of our Website might not function properly if you delete or disable cookies.</p>

            <p class="textLarge -bottomMarginSmall">4. Do Third Parties Collect Data On Our Website?</p>
            <p class="textMedium -bottomMarginLarge">We use Google Analytics to measure traffic to our Website.  We may also use Google Maps, Google Adsense or affiliate marketing programs.  These companies may use cookies or other tracking software to collect information while you navigate and use our Website.  We cannot guarantee the safety and privacy of any data gathered by a third party including Google.</p>

            <p class="textLarge -bottomMarginSmall">5. If You Register On Our National Vendor List Will We Sell Your Company's Information?</p>
            <p class="textMedium -bottomMarginLarge">Absolutely not.  We don't like spam marketing and we assume you don't either.</p>

            <p class="textLarge -bottomMarginSmall">6. Can You Remove Your Company From The National Vendor List After You've Registered?</p>
            <p class="textMedium -bottomMarginLarge">Yes. You can remove your company from our database at any time by logging into your account and selecting Delete My Account. If you believe someone has created an unauthorized or fraudulent account for your company you can request its removal by <a href="mailto:contact@foreclosurecleanup.org">contacting us</a>.</p>

            <p class="textLarge -bottomMarginSmall">7. Where Do We Store Our Data?</p>
            <p class="textMedium -bottomMarginLarge">Our Website’s server and database are located inside the United States.  If you are accessing our Website from outside the United States please be aware that your information will be subject to the privacy laws of the USA regardless of the country in which you reside.</p>

            <p class="textLarge -bottomMarginSmall">8. How Do We Protect Our Data?</p>
            <p class="textMedium -bottomMarginLarge">We use numerous safeguards to protect information as it is sent to us and when it is stored in our server and database. However no method of transmission over the Internet or via mobile device, or electronic storage can be made 100% secure. Therefore, while we use commercially acceptable means to protect your data, we cannot guarantee its absolute security.</p>

            <p class="textLarge -bottomMarginSmall">9. Do We Make Updates To Our Privacy Policy?</p>
            <p class="textMedium -bottomMarginSmall">Yes we update our Privacy Policy as needed. If your company is registered on our National Vendor list we will send an email to the address on file when an update is made. In addition we encourage you to review our Privacy Policy frequently to be informed of how we are protecting information.</p>
            <div class="fiveDots -bottomMarginSmall -centerAlign">· · · · ·</div>

        </div>
    
    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>