<!DOCTYPE html>
<html lang="en">
<head>
    <title>Request An Additional Confirmation Email</title>
    <%- include('includes/header_boilerplate.ejs') %>

</head>
<body class="narrowScreen__body">

    <main class="-mainTopMarginLarge -bottomMarginLarge -mainRightLeftPadding">

        <div class="narrowScreen__externalBorder -reducedWidth -topBottomPadding -rightLeftPadding">

            <div class="narrowScreen__logo -bottomMargin"><a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo"></a></div>

            <h3 class="narrowScreen__headline -bottomMargin">Request Another Confirmation</h3>

            <p class="narrowScreen__text -bottomMarginLarge">Please fill in your email and click Submit.</p>

                <form action="/password_reset_request" method="POST">

                    <div class="input__unit -bottomMarginLarge"> 
                        <label for="email" class="input__label
                            <% if (typeof emailError != "undefined") { %>
                                -errorColor
                            <% } %>               
                            ">Email Address:</label>
                        <input id="email" class="input__field
                            <% if (typeof emailError != "undefined") { %>
                                -errorBorder
                            <% } %>
                                " name="email" <%= emailAttributes %> value="<%= userInput.email %>" autofocus>
                        <% if (typeof emailError != "undefined") { %>
                        <div class="input__errorMessage"><%= emailError %></div>
                        <% } %> 
                    </div>

                    <div class="-bottomMarginLarge">
                        <button id="narrowScreen__button">Submit</button>
                    </div>  

                </form> 

                <p class="-centerText"><a href="/privacy_policy_terms_service" class="tertiaryLink">Privacy Policy</a> | <a href="/privacy_policy_terms_service" class="tertiaryLink">Terms Of Service</a></p>
            
        </div>

    </main>

    <div class="-reducedWidth"><p id="narrowScreen_copyright">© Foreclosure Cleanup.org - All Rights Reserved</p></div>    

</body>
</html>