<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
    <%- include('includes/head-boilerplate.ejs') %>
    <%- include('includes/log-in-out-rollover.ejs') %>
</head>
<body>

    <%- include('includes/dashboard-header.ejs') %>

    <main>

        <div class="standardWidthVanish -thinLineShadowBorder -topBottomMarginLarge">

            <p class="dashboard__headline">Upgrade Success</p>

        </div>

    </main>

    <%- include('includes/standard-screen-footer.ejs') %>

</body>
</html>