<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Foreclosure Cleanup.org</title>
		<%- include('includes/head-boilerplate.ejs') %> <%- include('includes/log-in-out-rollover.ejs') %>
	</head>
	<body>
		<%- include('includes/header-standard.ejs') %>

		<main class="mainContainer__legal">
			<div class="legal__container">
				<h2 class="font25 -bold -centerAlign -marginBottomOne">Terms Of Service Agreement</h2>
				<p class="font125 -centerAlign -marginBottomTwo -paddingBottomTwo -borderBottom32">Last updated January 01, 2021</p>
				<p class="font125 -marginBottomOne">This Terms Of Service Agreement is a legal agreement between PRO Journal, LLC (referenced below as “we”, “us” and “our”) which owns the foreclosurecleanup.org Website (referenced below as the “Website”) and the entity or person (referenced below as “you”, “your”, or “user”) that uses this Website or has registered or wishes to register their company, a company they control or a company they act on behalf of on this Website's National Vendor List.</p>
				<p class="font125 -marginBottomOne">“Terms” refers to the policies set forth in this Terms Of Service Agreement. “Business Listing” refers to the text, images and all other forms of data related to a business listing on the Foreclosure Cleanup.org National Vendor List.</p>
				<p class="font125 -marginBottomOne">When you use our Website, you consent to the conditions in this Terms Of Service Agreement. If you do not agree with any of the Terms in this agreement please discontinue use of this Website immediately.</p>
				<p class="font125 -marginBottomFour">If you believe a user on this Website is violating this Terms Of Service Agreement we encourage you to <a href="mailto:contact@foreclosurecleanup.org">contact us</a>. However be aware that we are not obligated to enforce the Terms of this Agreement on your behalf against another user.</p>

				<p class="font15 -marginBottomOne"><strong>All Users And National Vendor List Registrars Terms Of Service</strong></p>
				<p class="font15 -marginBottomOne">To Use This Website You Agree That:</p>
				<ul class="unorderedList font125 -marginBottomFour">
					<li>You have read, understand and have the ability to legally consent to this Terms Of Service Agreement and our <a href="/privacy-policy">Privacy Policy.</a></li>
					<li>You agree to never use this site to harm a person or entity. This includes threats, intimidation, stalking or harassment.</li>
					<li>You agree to never use this site to solicit information from minors or submit or transmit pornography.</li>
					<li>You agree to never use this site to violate the law.</li>
					<li>You agree to never use any electronic method to index, copy or scrape any portion of the Business Listings from this Website's National Vendor List.</li>
					<li>You understand and acknowledge that this Website is for informational purposes only. Neither Pro Journal, LLC nor this Website have an ownership interest or partnership with any vendors on this Website's National Vendor List.</li>
					<li>You understand and acknowledge that neither Pro Journal, LLC nor this Website endorse or reccommend any of the vendors listed on this Website's National Vendor List.</li>
					<li>You understand and acknowledge that all information included in Business Listings on the National Vendor List was created by users and not Pro Journal, LLC. User created information displayed on our National Vendor List does not necessarily reflect the opinions of Pro Journal, LLC.</li>
					<li>You understand and acknowledge that you must do your own research and perform due dillegence before hiring any service provider listed on this Website.</li>
					<li>You understand and acknowledge that we may at any time change or discontinue this Website at our sole discretion, at any time, for any or no reason and without notice or liability.</li>
				</ul>
				information.</p>
				<div class="fiveDots__container -marginBottomFour">
					<img src="../../images/five-dots.svg" alt="info break point" class="fiveDots" />
				</div>

				<p class="font15 -marginBottomOne"><strong>Additional Terms For The National Vendor List</strong></p>
				<p class="font15 -marginBottomOne">1. Company Requirements</p>
				<ul class="unorderedList font125 -marginBottomFour">
					<li>A listed company must not promote, offer, sell, or rent illegal products or services. In addition the company cannot participate in fraud or other illegal activities.</li>
					<li>A listed company cannot include offensive, pornographic or violent text or images in its Business Listing.</li>
				</ul>
				<p class="font15 -marginBottomOne">2. Registrar Requirements</p>
				<ul class="unorderedList font125 -marginBottomFour">
					<li>You either own the company or have the legal authority to act on behalf of the company and have the right to bind the company to this Website's Terms Of Service Agreement.</li>
					<li>You are 18 years of age or older.</li>
				</ul>

				<p class="font15 -marginBottomOne">3. Additional Requirements:</p>
				<ul class="unorderedList font125 -marginBottomFour">
					<li>You agree to receive communication from us through email, text or phone calls.</li>
					<li>You agree to never misrepresent your connection or affiliation with this Website. We never endorse, sponser or engage in partnerships with any vendors listed on this Website's National Vendor List.</li>
					<li>You agree to never use this site to violate another party's rights including copyright, trademark, privacy or intellectual property.</li>
					<li>You agree and acknowledge that you alone are responsible for the information in your Business Listing. You assume all risks associated with the information in your Business Listing. These risks include revealing personal information or anyone's reliance on the accuracy or reliability of the information you included in your Business Listing. You also represent that you have the legal right and permission to include the information that you added to your Business Listing.</li>
					<li>We may include advertisements or other paid content or information near your Business Listing. You agree and acknowledge that you are not entitled to any compensation for this advertising.</li>
					<li>You agree that in the event of any dispute with Pro Journal, LLC you will first attempt to resolve the matter with us cooperatively. If in 30 days a satisfactory agreement cannot be reached you agree to use individual arbitration to handle this disupte unless the matter is in regards to a trademark or copyright infringement.</li>
				</ul>

				<div class="fiveDots__container -marginBottomOne">
					<img src="../../images/five-dots.svg" alt="info break point" class="fiveDots" />
				</div>
			</div>
		</main>

		<%- include('includes/footer-standard.ejs') %>
	</body>
</html>
