<!DOCTYPE html>
<html lang="en">
<head>
    <title>test route</title>
</head>
<body>

    <form action="/test-route" method="POST">

        <label for="test">
        <input id="test" name="testValue">

        <button>push me</button>

    </form>

</body>
</html>