<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login To Your Account On Foreclosure Cleanup Account</title>
    <%- include('includes/header_boilerplate.ejs') %>

</head>
<body>

    <main class="-topBottomMarginLargeVanish -rightLeftPaddingVanish">

        <div class="narrowScreen__externalBorder -thirtyWidthVanish">

            <div class="narrowScreen__header -topBottomPadding -bottomMargin">
                    <div class="narrowScreen__logo"><a href="/"><img src="images/foreclosure-cleanup-logo.svg" alt="Foreclosure Cleanup logo"></a></div>
            </div> 

            <div class="-thirtyWidth -rightLeftPaddingStatic">

                <h3 class="narrowScreen__headline -bottomMargin">Thank You!</h3>

                <p class="narrowScreen__text -bottomMarginLarge">Your email has been verified and account has been activated.  Visit the <a href="/login">login</a> page to enter your account.</p>
            
                <p class="-centerText -bottomMargin"><a href="/privacy_policy_terms_service" class="tertiaryLink">Privacy Policy</a> | <a href="/privacy_policy_terms_service" class="tertiaryLink">Terms Of Service</a></p>

                <div class="-reducedWidth"><p id="narrowScreen_copyright">© Foreclosure Cleanup.org - All Rights Reserved</p></div> 

            </div>

        </div>

    </main>

</body>
</html>