<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Activated</title>
    <%- include('includes/head-boilerplate.ejs') %>
</head>
<body>

    <%- include('includes/narrow-screen-top-boilerplate.ejs') %>

                <h3 class="headlineLarge">Thank You</h3>
                <p class="font15 -marginBottomFour">Your email has been verified and account has been activated.  Visit the <a href="/login">login</a> page to enter your account.</p>
            
    <%- include('includes/narrow-screen-bottom-boilerplate.ejs') %>

</body>
</html>